/*----------------------------------breadcrumbs--------------------------------*/
.breadcrumbs {
  padding: 30px 30px 10px 33px;
  position: relative;
  z-index: 2;
}
.breadcrumbs--mod {
  margin-top: 200px;
  padding: 0px 20px;
}
.breadcrumbs--mod .breadcrumbs__item:not(:last-child)::after,
.breadcrumbs--mod .breadcrumbs__item:not(:last-child)::before {
  position: absolute;
  content: "";
  width: 1px;
  height: 6px;
  top: 8px;
  right: 0;
  border-radius: 1px;
  background-color: var(--color-black);
  transform: rotate(45deg);
}
.breadcrumbs--mod .breadcrumbs__item:not(:last-child)::after {
  top: 4px;
  right: 0;
  transform: rotate(-45deg);
}
@media (max-width: 768px) {
  .breadcrumbs--mod {
    margin-top: 100px;
  }
  .breadcrumbs--mod .breadcrumbs__list {
    justify-content: start;
  }
}
.breadcrumbs__list {
  display: flex;
  align-items: center;
  gap: 5px 15px;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  .breadcrumbs__list {
    justify-content: center;
  }
}
.breadcrumbs__item:not(:last-child) {
  position: relative;
  padding-right: 15px;
}
.breadcrumbs__item:not(:last-child)::after, .breadcrumbs__item:not(:last-child)::before {
  position: absolute;
  content: "";
  width: 1px;
  height: 6px;
  top: 8px;
  right: 0;
  border-radius: 1px;
  background-color: var(--color-white);
  transform: rotate(45deg);
}
.breadcrumbs__item:not(:last-child)::after {
  top: 4px;
  right: 0;
  transform: rotate(-45deg);
}
.breadcrumbs__item {
  font-weight: 600;
  line-height: 133%;
  font-family: var(--font-family-m);
  font-size: clamp(12px, 0.9722222222vw, 14px);
}
.breadcrumbs__item_link {
  transition: all 0.3s;
}
@media (hover: hover) {
  .breadcrumbs__item_link:hover {
    transition: all 0.3s;
    color: var(--color-primary);
  }
}
.breadcrumbs__item:last-child {
  color: var(--color-primary);
}

/*----------------------------------breadcrumbs--------------------------------*/