/*----------------------------------calendar--------------------------------*/
.calendar {
  margin-bottom: 50px;
}
@media (max-width: 768px) {
  .calendar {
    margin-bottom: 20px;
  }
}
.calendar__wrapper {
  padding: 20px;
  border-radius: var(--border-radius-small);
  margin-bottom: 16px;
}
@media (max-width: 768px) {
  .calendar__wrapper {
    padding: 15px;
    border-radius: 24px;
  }
}
.calendar__top {
  display: flex;
  align-items: center;
  gap: 10px 44px;
  flex-wrap: wrap;
  margin-bottom: 32px;
}
.calendar__specialization {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
@media (max-width: 768px) {
  .calendar__specialization {
    flex-wrap: wrap;
  }
}
.calendar__cost {
  font-weight: 500;
  line-height: 133%;
  font-family: var(--font-family-m);
}
.calendar__cost span {
  font-weight: 700;
  color: var(--color-secondary);
}
.calendar__body {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  position: relative;
}
.calendar__blocks {
  overflow: hidden;
  overflow-x: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.calendar__blocks::-webkit-scrollbar {
  display: none;
}
.calendar__block {
  position: relative;
}
.calendar__block_top {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 16px;
}
.calendar__block_top span {
  color: var(--color-primary);
}
.calendar__days {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  position: relative;
}
.calendar__days::after {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  top: 40%;
  right: -30px;
  background-color: var(--color-primary);
}
.calendar__day {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-white);
  width: 56px;
  border-radius: 16px;
  padding: 7px 0px;
}
.calendar__day--mod p {
  color: #EC5906;
}
.calendar__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
@media (max-width: 768px) {
  .calendar__bottom {
    flex-wrap: wrap;
  }
}
@media (max-width: 768px) {
  .calendar__button {
    width: 100%;
  }
}
.calendar__times {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 10px;
  flex-wrap: wrap;
}
.calendar__arrow {
  background-color: var(--color-white);
  border-radius: 16px;
  padding: 18px 24px;
  position: absolute;
  right: 10px;
  top: 32px;
  cursor: pointer;
}
.calendar__hour {
  color: #96CFD0;
  border: 1px solid #96CFD0;
  border-radius: 16px;
  padding: 11px 0px;
  width: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.calendar p {
  font-weight: 600;
  line-height: 133%;
  font-family: var(--font-family-m);
  font-size: clamp(14px, 1.0416666667vw, 15px);
}

/*----------------------------------calendar--------------------------------*/