/*----------------------------------choose--------------------------------*/
.choose__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px 10px;
  margin-bottom: 32px;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  .choose__top {
    margin-bottom: 16px;
  }
}
.choose__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px 40px;
}
.choose__inner .choose__block:first-child {
  width: 480px;
}
@media (max-width: 768px) {
  .choose__inner .choose__block:first-child {
    width: 100%;
  }
}
.choose__inner .choose__block:last-child {
  flex-basis: 350px;
}
.choose__inner .choose__block:last-child .calendar__specialization {
  justify-content: start;
}
@media (max-width: 768px) {
  .choose__inner {
    flex-wrap: wrap;
    width: 100%;
  }
}
.choose__block .filter__search {
  margin-bottom: 0px;
}
.choose__doctors {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px 10px;
  flex-wrap: wrap;
  margin-bottom: 64px;
}
.choose__doctors .card {
  width: 32%;
}
@media (max-width: 992px) {
  .choose__doctors .card {
    width: 49%;
  }
}
@media (max-width: 768px) {
  .choose__doctors .card {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .choose__doctors {
    margin-bottom: 24px;
    gap: 15px;
  }
}
.choose__bottom {
  display: flex;
  align-items: center;
  gap: 24px;
}
.choose__bottom a {
  display: flex;
  align-items: center;
  gap: 7px;
  color: var(--color-primary);
  font-size: 13px;
  transition: all 0.3s;
}
.choose__bottom a svg {
  transition: all 0.3s;
}
@media (hover: hover) {
  .choose__bottom a:hover svg {
    transform: translateX(5px);
    transition: all 0.3s;
  }
  .choose__bottom a:hover svg path {
    transition: all 0.3s;
  }
}
@media (max-width: 768px) {
  .choose__bottom a {
    display: none;
  }
}
@media (max-width: 768px) {
  .choose__bottom .pagination {
    display: flex;
  }
}
.choose__reset {
  font-size: 13px;
  display: flex;
  align-items: center;
  gap: 7px;
  white-space: nowrap;
}
.choose__reset input {
  color: #FE8EA8;
  background-color: inherit;
  cursor: pointer;
  font-weight: 700;
}

/*----------------------------------choose--------------------------------*/