/*----------------------------------filtermenu--------------------------------*/
.diagnostics__body {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}
@media (max-width: 1200px) {
  .diagnostics__body {
    gap: 16px;
  }
}
@media (max-width: 992px) {
  .diagnostics__body {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 768px) {
  .diagnostics__body {
    display: flex;
    flex-direction: column;
  }
}
.diagnostics__block {
  height: 100%;
}
.diagnostics__block span {
  font-weight: 700;
}
@media (max-width: 768px) {
  .diagnostics__block:nth-child(1) {
    grid-column: 1/3;
  }
}
.diagnostics__block:nth-child(2) {
  margin-right: -15px;
}
@media (max-width: 992px) {
  .diagnostics__block:nth-child(2) {
    margin-right: 0px;
  }
}
.diagnostics__block:nth-child(3) {
  padding-left: 20px;
  padding-right: 60px;
}
@media (max-width: 992px) {
  .diagnostics__block:nth-child(3) {
    padding-left: 0px;
    padding-right: 0px;
  }
}
.diagnostics__block:nth-child(4) {
  margin-left: -55px;
}
@media (max-width: 992px) {
  .diagnostics__block:nth-child(4) {
    margin-left: 0px;
    grid-column: 1/3;
  }
}
.diagnostics__block:nth-child(5) {
  grid-row: 2/3;
  grid-column: 1/2;
  margin-top: -45px;
}
@media (max-width: 992px) {
  .diagnostics__block:nth-child(5) {
    margin-top: 0px;
  }
}
.diagnostics__block:nth-child(6) {
  grid-row: 2/3;
  grid-column: 2/4;
  padding-right: 110px;
}
@media (max-width: 992px) {
  .diagnostics__block:nth-child(6) {
    padding-right: 0px;
  }
}
.diagnostics__block:nth-child(7) {
  grid-column: 4/5;
  margin-left: -110px;
}
@media (max-width: 992px) {
  .diagnostics__block:nth-child(7) {
    grid-column: 3/4;
    margin-left: 0px;
  }
}
.diagnostics__block img {
  border-radius: var(--border-radius-small);
}
@media (max-width: 992px) {
  .diagnostics__block img {
    border-radius: 24px;
  }
}

/*----------------------------------filtermenu--------------------------------*/