/*----------------------------------doctor--------------------------------*/
.doctor {
  padding-top: 40px;
}
.doctor__body {
  display: flex;
  justify-content: space-between;
  gap: 24px 48px;
}
@media (max-width: 992px) {
  .doctor__body {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.doctor__photo {
  border-radius: 160px 180px 160px 40px;
  background: linear-gradient(45deg, #c3f0f3 32.68%, #a9d9e6 100%);
  padding: 30px 43px 0px 43px;
  overflow: hidden;
  border: 1px solid var(--color-white);
}
.doctor__photo img {
  max-width: 230px;
}
@media (max-width: 768px) {
  .doctor__photo img {
    max-width: 185px;
  }
}
.doctor__info {
  margin-bottom: 32px;
}
.doctor__blocks {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 32px;
}
@media (max-width: 768px) {
  .doctor__blocks {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0px;
  }
}
.doctor__block {
  display: flex;
  gap: 10px;
  padding: 15px;
}
.doctor__block_icon {
  flex: none;
}
.doctor__block_text h3 {
  font-size: 13px;
  line-height: 138%;
}
.doctor__block_text p {
  font-size: clamp(16px, 1.1805555556vw, 17px);
  font-weight: 600;
  line-height: 141%;
  font-family: var(--font-family-m);
}
.doctor__block_text span {
  color: var(--color-black-text);
}
.doctor__block_text a {
  font-size: 13px;
  line-height: 138%;
  color: var(--color-primary);
  display: flex;
  align-items: center;
  gap: 5px;
  transition: all 0.3s;
}
.doctor__block_text a svg {
  transition: all 0.3s;
}
@media (hover: hover) {
  .doctor__block_text a:hover svg {
    transform: translateX(5px);
    transition: all 0.3s;
  }
  .doctor__block_text a:hover svg path {
    transition: all 0.3s;
  }
}
.doctor__block_inner {
  display: flex;
  gap: 10px;
}
.doctor__block:first-child {
  border-bottom: 1px solid var(--color-primary);
  padding-left: 0px;
}
.doctor__block:first-child .doctor__block_text a {
  font-size: clamp(16px, 1.1805555556vw, 17px);
  font-weight: 600;
  line-height: 141%;
  font-family: var(--font-family-m);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  .doctor__block:first-child {
    border-bottom: none;
    flex-basis: 100%;
  }
}
.doctor__block:nth-child(2) {
  border-bottom: 1px solid var(--color-primary);
  border-left: 1px solid var(--color-primary);
}
@media (max-width: 768px) {
  .doctor__block:nth-child(2) {
    border-bottom: none;
    border-left: none;
    flex-basis: 100%;
  }
}
.doctor__block:nth-child(3) {
  border-bottom: 1px solid var(--color-primary);
  border-left: 1px solid var(--color-primary);
}
@media (max-width: 768px) {
  .doctor__block:nth-child(3) {
    border-bottom: none;
    border-left: none;
    flex-basis: 35%;
  }
}
.doctor__block:nth-child(4) {
  padding-left: 0px;
}
@media (max-width: 768px) {
  .doctor__block:nth-child(4) {
    order: 1;
  }
}
.doctor__block:nth-child(5) {
  border-left: 1px solid var(--color-primary);
}
@media (max-width: 768px) {
  .doctor__block:nth-child(5) {
    border-left: none;
    flex-basis: 65%;
  }
}
.doctor__block:last-child {
  border-left: 1px solid var(--color-primary);
}
.doctor__block:last-child span {
  font-weight: 700;
  font-size: 17px;
  line-height: 141%;
  font-family: var(--font-family-base);
  color: var(--color-secondary);
}
@media (max-width: 768px) {
  .doctor__block:last-child {
    border-left: none;
    flex-basis: 100%;
    order: 1;
  }
}
@media (max-width: 1200px) {
  .doctor__block {
    padding: 10px;
  }
}
@media (max-width: 768px) {
  .doctor__block {
    padding: 0px;
    margin-bottom: 16px;
  }
}
.doctor__list ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px 8px;
  font-size: 15px;
  font-weight: 600;
  line-height: 133%;
  font-family: var(--font-family-m);
  background-color: #EFFAFB;
  padding: 10px 32px;
  border-radius: 16px;
}
.doctor__list ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 7px;
}
@media (max-width: 768px) {
  .doctor__list ul {
    padding: 10px 15px;
  }
}
.doctor__links {
  display: flex;
  align-items: center;
  gap: 4px 38px;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  .doctor__links {
    justify-content: center;
    gap: 4px;
  }
}
.doctor__link {
  position: relative;
  background-color: var(--color-primary-hover);
  padding: 8px 16px;
  border-radius: var(--border-radius-small);
  font-weight: 400;
  transition: all 0.3s;
  text-align: center;
  display: inline;
}
@media (hover: hover) {
  .doctor__link:hover {
    transition: all 0.3s;
    color: var(--color-white);
    background-color: var(--color-primary);
  }
}
.doctor__link:not(:last-child)::after {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  top: 40%;
  right: -25px;
  border-radius: 50%;
  background-color: #96CFD0;
}
@media (max-width: 768px) {
  .doctor__link:not(:last-child)::after {
    display: none;
  }
}
@media (max-width: 768px) {
  .doctor__link {
    width: 100%;
  }
  .doctor__link:first-child {
    width: 49%;
  }
  .doctor__link:nth-child(2) {
    width: 49%;
  }
}

.about-doctor {
  display: flex;
  justify-content: space-between;
  gap: 16px 24px;
}
.about-doctor__block {
  border: 1px solid #A9D9E6;
  border-radius: var(--border-radius-small);
  background-color: var(--color-white);
  padding: 32px;
}
.about-doctor__block h3 {
  font-size: clamp(18px, 1.6666666667vw, 24px);
  margin-bottom: 24px;
}
@media (max-width: 768px) {
  .about-doctor__block {
    padding: 16px;
    border-radius: 24px;
  }
}
.about-doctor__item span {
  color: var(--color-primary);
  display: block;
  margin-bottom: 8px;
}
.about-doctor__item p {
  font-family: var(--font-family-m);
}
.about-doctor__item:not(:last-child) {
  margin-bottom: 24px;
}
@media (max-width: 768px) {
  .about-doctor {
    flex-wrap: wrap;
  }
}

/*----------------------------------doctor--------------------------------*/