/*----------------------------------filter--------------------------------*/
.filter__search {
  margin-bottom: 24px;
  display: block;
  position: relative;
  width: 100%;
}
.filter__search input {
  padding: 12px 24px;
  border: 1px solid #96CFD0;
  border-radius: var(--border-radius-small);
  width: 100%;
}
.filter__search_close {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%);
  cursor: pointer;
  display: block;
}
@media (max-width: 768px) {
  .filter__search {
    margin-bottom: 16px;
  }
}
.filter__blocks {
  display: flex;
}
.filter__blocks .button-more {
  display: none;
}
@media (max-width: 768px) {
  .filter__blocks .button-more {
    display: flex;
  }
  .filter__blocks .button-more svg {
    margin-top: 2px;
  }
  .filter__blocks .button-more.view {
    display: none;
  }
}
.filter__blocks .content-more {
  display: block;
}
@media (max-width: 768px) {
  .filter__blocks .content-more {
    display: none;
  }
  .filter__blocks .content-more.view {
    display: block;
  }
}
@media (max-width: 768px) {
  .filter__blocks {
    flex-wrap: wrap;
  }
}
.filter__block {
  width: 100%;
}
.filter__block h3 {
  color: var(--color-primary);
  font-size: 24px;
  line-height: 133%;
  margin-bottom: 10px;
}
.filter__block a {
  font-family: var(--font-family-m);
  font-weight: 600;
  line-height: 141%;
  transition: all 0.3s;
}
.filter__block a:not(:last-child) {
  margin-bottom: 16px;
}
@media (max-width: 768px) {
  .filter__block a:not(:last-child) {
    margin-bottom: 8px;
  }
}
@media (hover: hover) {
  .filter__block a:hover {
    color: var(--color-primary);
    transition: all 0.3s;
  }
}
.filter__block:not(:last-child) {
  border-right: 1px solid #96CFD0;
  padding-right: 24px;
}
@media (max-width: 992px) {
  .filter__block:not(:last-child) {
    padding-right: 16px;
  }
}
@media (max-width: 768px) {
  .filter__block:not(:last-child) {
    padding-right: 0px;
    border-right: none;
  }
}
.filter__block:not(:first-child) {
  padding-left: 24px;
}
@media (max-width: 992px) {
  .filter__block:not(:first-child) {
    padding-left: 16px;
  }
}
@media (max-width: 768px) {
  .filter__block:not(:first-child) {
    padding-left: 0px;
  }
}
.filter__item {
  padding: 16px 0px;
}
.filter__item:not(:last-child) {
  border-bottom: 1px solid #96CFD0;
}
@media (max-width: 768px) {
  .filter__item {
    padding: 8px 0px;
  }
}
.filter__color {
  color: var(--color-primary);
}

/*----------------------------------filter--------------------------------*/