/*----------------------------------footer--------------------------------*/
.footer {
  background-color: #313131;
  color: var(--color-white);
  padding-top: 80px;
}
@media (max-width: 768px) {
  .footer {
    padding-top: 40px;
  }
}
.footer__wrapper {
  padding: 24px 0px;
}
.footer__logo {
  margin-bottom: 40px;
}
.footer__body {
  display: flex;
  justify-content: space-between;
  gap: 40px 10px;
}
@media (max-width: 992px) {
  .footer__body {
    flex-wrap: wrap;
  }
}
.footer__block address {
  margin-bottom: 15px;
}
.footer__block_tel {
  font-weight: 700;
  font-size: clamp(14px, 1.3888888889vw, 20px);
  margin-bottom: 15px;
}
.footer__block_email {
  text-decoration: underline;
  color: var(--color-primary);
  margin-bottom: 15px;
}
.footer__block .messengers {
  justify-content: start;
  margin-bottom: 10px;
}
.footer__block .messengers a:first-child {
  border: 1px solid #80ABFF;
}
.footer__block .messengers a:nth-child(2) {
  border: 1px solid #39E8DE;
}
@media (max-width: 768px) {
  .footer__block:first-child {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
    flex-basis: 100%;
  }
  .footer__block:first-child .footer__logo {
    flex-basis: 100%;
    justify-content: center;
  }
}
@media (max-width: 768px) {
  .footer__block:nth-child(2) {
    width: 48%;
  }
}
@media (max-width: 768px) {
  .footer__block:nth-child(3) {
    width: 44%;
  }
}
.footer__title {
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 150%;
  font-size: clamp(14px, 1.25vw, 18px);
}
.footer__list li {
  margin-bottom: 10px;
  font-weight: 500;
  line-height: 150%;
  font-size: clamp(14px, 1.25vw, 18px);
  transition: all 0.3s;
}
@media (hover: hover) {
  .footer__list li:hover {
    color: var(--color-primary);
    text-decoration: underline;
  }
}
.footer__bottom {
  padding: 40px 16px;
  display: flex;
  justify-content: space-between;
  gap: 16px 40px;
}
@media (max-width: 768px) {
  .footer__bottom {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.footer__bottom a {
  text-decoration: underline;
}

/*----------------------------------footer--------------------------------*/