/*----------------------------------footer--------------------------------*/
.footer__wrapper {
  padding: 24px 0px;
}
.footer__logo {
  margin-bottom: 40px;
}
.footer__body {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
@media (max-width: 992px) {
  .footer__body {
    flex-wrap: wrap;
  }
}
@media (max-width: 768px) {
  .footer__body {
    display: block;
  }
}
.footer__block p,
.footer__block address {
  font-weight: 600;
  font-family: var(--font-family-m);
  line-height: 130%;
  font-size: clamp(13px, 1.0416666667vw, 15px);
}
.footer__block:nth-child(3) .footer__list :last-child {
  max-width: 200px;
}
.footer__block:nth-child(3) .footer__list :last-child a {
  text-decoration: underline;
}
.footer__title {
  margin-bottom: 16px;
  position: relative;
  display: inline-block;
}
.footer__title::after {
  position: absolute;
  content: "";
  width: 10px;
  height: 3px;
  top: 50%;
  right: -20px;
  background-color: var(--color-black-text);
  transform: rotate(45deg);
  display: none;
}
@media (max-width: 768px) {
  .footer__title::after {
    display: block;
  }
}
.footer__title::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 3px;
  top: 50%;
  right: -27px;
  background-color: var(--color-black-text);
  transform: rotate(-45deg);
  display: none;
}
@media (max-width: 768px) {
  .footer__title::before {
    display: block;
  }
}
.footer__title.view::after {
  transform: rotate(-45deg);
}
.footer__title.view::before {
  transform: rotate(45deg);
}
.footer__list li {
  margin-bottom: 10px;
  font-weight: 600;
  font-family: var(--font-family-m);
  line-height: 130%;
  font-size: clamp(13px, 1.0416666667vw, 15px);
  transition: all 0.3s;
}
@media (hover: hover) {
  .footer__list li:hover {
    color: var(--color-primary);
  }
}
@media (max-width: 768px) {
  .footer__list {
    display: none;
  }
  .footer__list.view {
    display: block;
  }
}
.footer__tel {
  margin-bottom: 24px;
}
.footer__tel p {
  margin-bottom: 8px;
}
.footer__tel a {
  transition: all 0.3s;
}
@media (hover: hover) {
  .footer__tel a:hover {
    color: var(--color-primary);
  }
}
.footer__row {
  display: flex;
  justify-content: space-between;
  gap: 16px 50px;
}
.footer__row address {
  max-width: 210px;
}
.footer__row a {
  display: flex;
  gap: 10px;
  font-weight: 600;
  font-family: var(--font-family-m);
  line-height: 130%;
  font-size: clamp(13px, 1.0416666667vw, 15px);
  transition: all 0.3s;
}
@media (hover: hover) {
  .footer__row a:hover {
    color: var(--color-primary);
  }
}
.footer__row:not(:last-child) {
  margin-bottom: 24px;
}
@media (max-width: 768px) {
  .footer__row {
    flex-wrap: wrap;
  }
}
.footer__row--mod address img {
  width: 18px;
  height: 20px;
}
.footer__row--mod img {
  width: 20px;
  height: 18px;
}
.footer__box p {
  margin-bottom: 16px;
}
.footer__links {
  display: flex;
  align-items: center;
  gap: 18px;
}
.footer__bottom {
  padding: 40px 16px;
  display: flex;
  gap: 16px 40px;
}
@media (max-width: 768px) {
  .footer__bottom {
    flex-wrap: wrap;
  }
}
.footer__requisites {
  flex-basis: 400px;
  border-right: 1px solid var(--color-bg);
  padding-right: 40px;
}
@media (max-width: 768px) {
  .footer__requisites {
    padding-right: 0px;
    border-right: none;
    border-bottom: 1px solid var(--color-bg);
    padding-bottom: 16px;
  }
}
.footer__requisites h3 {
  margin-bottom: 10px;
}
.footer__requisites p,
.footer__requisites address {
  font-weight: 600;
  font-family: var(--font-family-m);
  line-height: 130%;
}
.footer__requisites_info {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 16px;
}
@media (max-width: 992px) {
  .footer__requisites_info {
    flex-wrap: wrap;
  }
}
.footer__license {
  font-weight: 600;
  font-family: var(--font-family-m);
  line-height: 130%;
  flex-basis: 1000px;
}
.footer__license p:not(:last-child) {
  margin-bottom: 16px;
}
.footer__info {
  font-weight: 600;
  font-family: var(--font-family-m);
  line-height: 130%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px 24px;
}
.footer__info p:first-child {
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .footer__info {
    flex-wrap: wrap;
  }
}

/*----------------------------------footer--------------------------------*/