/*----------------------------------menu--------------------------------*/
.menu > ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 16px;
}
.menu > ul li {
  font-weight: 700;
  line-height: 138%;
  position: relative;
  font-size: clamp(12px, 0.9027777778vw, 13px);
}
@media (hover: hover) {
  .menu > ul li:hover .menu__list_wrapper {
    display: block;
    left: -20px;
  }
}
.menu__link {
  transition: All 0.3s ease 0s;
}
@media (hover: hover) {
  .menu__link:hover {
    color: var(--color-primary);
  }
}
.menu__button {
  cursor: pointer;
  padding-right: 15px;
  transition: All 0.3s ease 0s;
}
.menu__button::after, .menu__button::before {
  position: absolute;
  content: "";
  width: 6px;
  height: 2px;
  top: 8px;
  right: 0;
  background-color: var(--color-black-text);
  transition: transform 0.2s ease-out;
  border-radius: 5px;
}
.menu__button::after {
  transform: rotate(45deg);
  right: 4px;
}
.menu__button::before {
  transform: rotate(-45deg);
}
@media (hover: hover) {
  .menu__button:hover {
    color: var(--color-primary);
  }
  .menu__button:hover::after {
    transform: rotate(-45deg);
    background-color: var(--color-primary);
  }
  .menu__button:hover::before {
    transform: rotate(45deg);
    background-color: var(--color-primary);
  }
  .menu__button:hover li {
    color: var(--color-black-text);
  }
}
@media (max-width: 992px) {
  .menu__button {
    padding-right: 30px;
  }
}
.menu__list {
  background-color: var(--color-white);
  box-shadow: 0 0 16px 0 rgba(17, 31, 57, 0.1);
  border-radius: 24px;
  width: 320px;
  padding: 16px;
  margin-top: 20px;
}
.menu__list_wrapper {
  position: absolute;
  display: none;
}
@media (max-width: 992px) {
  .menu__list_wrapper.open {
    display: block;
    position: static;
  }
}
@media (max-width: 992px) {
  .menu__list {
    position: static;
    width: 100%;
    padding: 10px;
    border-radius: 16px;
    margin-top: 10px;
  }
}
.menu__list li {
  font-family: var(--font-family-m);
  font-weight: 600;
  font-size: clamp(12px, 1.0416666667vw, 15px);
  line-height: 133%;
  display: flex;
  align-items: center;
  gap: 12px;
  width: 100%;
  cursor: pointer;
  position: relative;
  padding-left: 25px;
}
.menu__list li:not(:last-child) {
  margin-bottom: 10px;
}
.menu__list li::before {
  position: absolute;
  content: "";
  width: 6px;
  height: 6px;
  top: 35%;
  left: 10px;
  border-radius: 50%;
  background-color: #63D7DF;
}
.menu__list li img {
  width: 15px;
  opacity: 0;
  transition: all 0.3s;
}
@media (hover: hover) {
  .menu__list li:hover img {
    opacity: 1;
  }
}
@media (max-width: 992px) {
  .menu {
    position: fixed;
    left: 0;
    top: -100%;
    width: 100%;
    height: 100%;
    background: var(--color-white);
    padding: 50px 20px;
    transition: All 0.5s ease 0s;
    overflow: auto;
    z-index: 9;
  }
  .menu._active {
    top: 0;
  }
  .menu__list-item:not(:last-child) {
    margin-bottom: 32px;
  }
  .menu > ul {
    display: block;
    position: relative;
    margin-bottom: 20px;
  }
  .menu ul li:not(:last-child) {
    margin-bottom: 10px;
  }
}

/*----------------------------------menu--------------------------------*/