/*----------------------------------news--------------------------------*/
.news__content {
  position: relative;
}
.news__body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;
}
@media (max-width: 992px) {
  .news__body {
    display: flex;
    flex-wrap: wrap;
  }
}
@media (max-width: 768px) {
  .news__body {
    margin-bottom: 16px;
  }
}
.news__item {
  border-radius: var(--border-radius-small);
  background-color: var(--color-white);
  display: flex;
  align-items: stretch;
  position: relative;
}
.news__item_photo {
  flex-basis: 345px;
}
.news__item_photo img {
  border-top-left-radius: var(--border-radius-small);
  border-bottom-left-radius: var(--border-radius-small);
  height: 100%;
  width: 100%;
}
@media (max-width: 768px) {
  .news__item_photo {
    flex-basis: 100%;
    position: relative;
  }
}
.news__item_info {
  padding: 30px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-basis: 700px;
}
@media (max-width: 992px) {
  .news__item_info {
    flex-basis: 100%;
  }
}
@media (max-width: 768px) {
  .news__item_info {
    padding: 12px 16px 24px 16px;
  }
}
.news__item_top h3 {
  margin-bottom: 8px;
  line-height: 141%;
}
.news__item_top p {
  font-weight: 600;
  line-height: 141%;
  font-family: var(--font-family-m);
  margin-bottom: 30px;
}
@media (max-width: 768px) {
  .news__item_top p {
    display: none;
  }
}
.news__item_bottom {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
}
.news__item_bottom time {
  color: var(--color-primary);
  font-family: var(--font-family-m);
  font-weight: 600;
  font-size: clamp(12px, 1.0416666667vw, 15px);
  line-height: 133%;
}
@media (max-width: 992px) {
  .news__item_bottom {
    justify-content: start;
  }
}
.news__item:first-child {
  grid-column: 1/3;
  grid-row: 1/2;
}
@media (max-width: 768px) {
  .news__item:first-child img {
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    border-bottom-left-radius: 0px;
  }
}
.news__item:nth-child(2) {
  grid-column: 1/3;
  grid-row: 2/3;
}
@media (max-width: 768px) {
  .news__item:nth-child(2) img {
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    border-bottom-left-radius: 0px;
  }
}
.news__item:nth-child(3) {
  grid-column: 3/4;
  grid-row: 1/3;
  flex-wrap: wrap;
}
.news__item:nth-child(3) .news__item_photo {
  flex-basis: 100%;
}
.news__item:nth-child(3) .news__item_photo img {
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  border-bottom-left-radius: 0px;
}
.news__item:nth-child(3) .news__item_top p {
  margin-bottom: 80px;
}
.news__item:nth-child(3) .news__btn {
  right: 66%;
}
@media (max-width: 992px) {
  .news__item:nth-child(3) .news__btn {
    right: 10px;
  }
}
@media (max-width: 992px) {
  .news__item:nth-child(3) {
    grid-column: 2/3;
    grid-row: 1/4;
  }
}
@media (max-width: 768px) {
  .news__item:nth-child(3) {
    order: -1;
  }
  .news__item:nth-child(3) .news__btn {
    bottom: 10px;
    right: 10px;
    max-width: 117px;
  }
}
.news__item:last-child {
  grid-column: 1/4;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .news__item:last-child .news__item_photo {
    flex-basis: 100%;
  }
  .news__item:last-child .news__item_photo img {
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    border-bottom-left-radius: 0px;
  }
}
@media (max-width: 768px) {
  .news__item {
    flex-wrap: wrap;
    border-radius: 24px;
    flex-basis: 100%;
  }
}
.news__button {
  position: absolute;
  top: 10px;
  right: 16px;
}
.news__btn {
  position: absolute;
  bottom: 20px;
  right: 51%;
}
@media (max-width: 992px) {
  .news__btn {
    bottom: 10px;
    right: 10px;
    max-width: 117px;
  }
}

/*----------------------------------news--------------------------------*/