/*----------------------------------prices-------------------------------*/
.prices__content > p {
  margin-bottom: 32px;
}
.prices__content .footnote {
  margin-bottom: 32px;
}
@media (max-width: 768px) {
  .prices__content .footnote {
    margin-bottom: 0px;
  }
}
.prices p {
  font-weight: 500;
  line-height: 141%;
  font-family: var(--font-family-m);
}
.prices__block {
  display: grid;
  grid-template-columns: 1fr 45px 250px 140px;
  gap: 10px 50px;
  padding: 16px 20px;
  align-items: center;
  background-color: var(--color-white);
  border-radius: 24px;
  margin-bottom: 12px;
}
@media (max-width: 992px) {
  .prices__block {
    gap: 10px 20px;
    grid-template-columns: 1fr 50px 1fr 1fr;
  }
}
@media (max-width: 768px) {
  .prices__block {
    grid-template-columns: 1fr 50px;
    border-radius: 16px;
    padding: 16px;
  }
}
.prices__block_discount {
  border: 2px solid var(--color-secondary);
  border-radius: 100px 20px 100px 100px;
  padding: 8px 5px;
  color: var(--color-secondary);
  font-size: 15px;
  line-height: 133%;
  width: 50px;
}
.prices__block_cost span:first-child {
  color: var(--color-secondary);
  font-size: 20px;
  line-height: 140%;
}
.prices__block_cost span:last-child {
  text-decoration: line-through;
  font-weight: 400;
}
@media (max-width: 768px) {
  .prices__block .button {
    grid-column: 1/3;
  }
}
.prices__block--mod .prices__block_discount {
  opacity: 0;
}

/*----------------------------------prices--------------------------------*/