/*----------------------------------questions-------------------------------*/
.questions__body {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
@media (max-width: 768px) {
  .questions__body {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.questions .accordion {
  flex-basis: 930px;
}
.questions__form {
  position: relative;
}

/*----------------------------------questions------------------------------*/