/*----------------------------------reviews--------------------------------*/
.reviews__content {
  position: relative;
}
.reviews__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}
.reviews__buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}
@media (max-width: 768px) {
  .reviews__buttons {
    width: 100%;
  }
  .reviews__buttons .button {
    padding: 11px 16px;
  }
}

.review {
  border-radius: var(--border-radius-small);
  background-color: var(--color-white);
  padding: 32px;
}
.review:not(:last-child) {
  margin-bottom: 16px;
}
.review header {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 10px;
}
.review header time {
  color: var(--color-primary);
  font-size: 13px;
}
.review blockquote p {
  font-family: var(--font-family-m);
  line-height: 141%;
}
@media (max-width: 768px) {
  .review {
    padding: 16px;
    border-radius: 32px;
  }
}

/*----------------------------------reviews--------------------------------*/