/*----------------------------------select--------------------------------*/
.dropdown {
  position: relative;
}
.dropdown__button {
  position: relative;
  display: block;
  text-align: left;
  border-radius: 5px;
  font-weight: 700;
  padding: 0px 20px 0px 0px;
  background-color: inherit;
  color: var(--color-primary);
}
.dropdown__button::after, .dropdown__button::before {
  content: "";
  position: absolute;
  top: 35%;
  right: 0px;
  transform: translateY(-50%);
  width: 2px;
  height: 8px;
  border-radius: 2px;
  background-color: var(--color-primary);
  pointer-events: none;
  transform: rotate(45deg);
}
.dropdown__button::before {
  right: 5px;
  transform: rotate(-45deg);
}
.dropdown__list {
  display: none;
  position: absolute;
  overflow: hidden;
  width: 200px;
  left: 0;
  top: 20px;
  z-index: 1;
  background: #F0F5F6;
  padding: 16px;
  border-radius: 10px;
}
.dropdown__list--active {
  display: block;
}
.dropdown__list_item {
  border-bottom: 0;
  cursor: pointer;
  font-size: clamp(11px, 0.9027777778vw, 13px);
}
.dropdown__list_item:not(:last-child) {
  margin-bottom: 10px;
}
.dropdown__list_item:hover {
  color: var(--color-primary);
}
.dropdown__input_hidden {
  display: none;
}

/*----------------------------------select--------------------------------*/