/*---------------------------------------sliders----------------------------*/
.slider {
  overflow: hidden;
}
.slider .swiper-wrapper {
  display: flex;
  align-items: stretch;
}
.slider .swiper-slide {
  height: auto;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

/*---------------------------------------sliders----------------------------*/