@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

a:focus,
a:active {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  width: 100%;
  font-size: 100%;
  line-height: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  height: 100dvh;
  min-width: 320px;
  scroll-behavior: smooth;
}

input,
button,
textarea {
  font-family: inherit;
  resize: none;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a {
  font-size: inherit;
  color: inherit;
  display: inherit;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
  max-width: 100%;
  object-fit: cover;
}

h1, h2, h3, h4, h5, h6, p, address, cite, span, ul, li {
  font-style: normal;
  font-size: inherit;
  font-weight: inherit;
}

/*-----------------------------------обнуляющие стили--------------------------------*/
/*----------------------------------Шрифты--------------------------------*/
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.woff2") format(woff2);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Medium.woff2") format(woff2);
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.woff2") format(woff2);
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-SemiBold.woff2") format(woff2);
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Unbounded";
  src: url("../fonts/Unbounded-Regular.woff2") format(woff2);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Unbounded";
  src: url("../fonts/Unbounded-Bold.woff2") format(woff2);
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
/*----------------------------------Шрифты--------------------------------*/
/*----------------------------------Переменные--------------------------------*/
:root {
  --color-black: #313131;
  --color-gray: #585858;
  --color-white: #FFFFFF;
  --color-primary: #2291FF;
  --color-primary-hover: #adcff1;
  --color-secondary: #47ADF7;
  --border-radius: 60px;
  --border-radius-medium: 40px;
  --border-radius-small: 20px;
  --font-base: "Montserrat", Arial, sans-serif;
  --font-unbounded: "Unbounded", Arial, sans-serif;
  --container-width: 1450px;
  --box-shadow: 0 20px 50px 0 rgba(0, 0, 0, 0.1);
}

/*----------------------------------Переменные--------------------------------*/
/*----------------------------------global--------------------------------*/
html {
  scroll-padding-top: 100px;
}

body {
  font-family: var(--font-base);
  font-size: clamp(14px, 1.25vw, 18px);
  font-weight: 400;
  color: var(--color-black);
  background: var(--color-white);
  line-height: 120%;
}

h2 {
  font-family: var(--font-unbounded);
  font-weight: 700;
  font-size: clamp(24px, 2.7777777778vw, 40px);
  text-align: center;
  line-height: 140%;
  margin-bottom: 40px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 1 auto;
}

._container {
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 0px 20px;
}

section {
  padding: 60px 0px;
}
@media (max-width: 768px) {
  section {
    padding: 30px 0px;
  }
}

._ibg {
  position: relative;
}
._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  padding: 18px 24px;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.3s;
  width: 100%;
  text-align: center;
  white-space: nowrap;
  background-color: var(--color-primary);
  color: var(--color-white);
  transition: all 0.3s;
  border: 1px solid var(--color-primary);
  font-weight: 500;
}
.button svg {
  transition: all 0.3s;
}
@media (hover: hover) {
  .button:hover {
    background-color: var(--color-white);
    color: var(--color-primary);
  }
  .button:hover svg {
    transform: translateX(5px);
    transition: all 0.3s;
  }
  .button:hover svg path {
    stroke: var(--color-primary);
    transition: all 0.3s;
  }
}
@media (max-width: 768px) {
  .button {
    padding: 16px;
  }
}

.messengers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.messengers a {
  border-radius: 10px;
  padding: 10px;
  border: 1px solid var(--color-white);
  transition: all 0.3s;
}
.messengers a:first-child {
  background-color: #80ABFF;
  transition: all 0.3s;
}
.messengers a:last-child {
  background-color: #39E8DE;
  transition: all 0.3s;
}
@media (hover: hover) {
  .messengers a:hover {
    background-color: var(--color-white);
  }
  .messengers a:hover:first-child {
    border: 1px solid #80ABFF;
  }
  .messengers a:hover:first-child svg path {
    fill: #80ABFF;
  }
  .messengers a:hover:last-child {
    border: 1px solid #39E8DE;
  }
  .messengers a:hover:last-child svg path {
    fill: #39E8DE;
  }
}
@media (max-width: 768px) {
  .messengers {
    justify-content: center;
    width: 100%;
  }
}

.block-images {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
.block-images__img img {
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius-small);
}
.block-images__img:first-child {
  grid-row: 1/3;
}
@media (max-width: 768px) {
  .block-images__img:first-child {
    height: 270px;
  }
}
.block-images__img:nth-child(2) {
  height: 200px;
}
@media (max-width: 768px) {
  .block-images__img:nth-child(2) {
    height: 100px;
  }
}
.block-images__img:nth-child(3) {
  height: 430px;
}
@media (max-width: 768px) {
  .block-images__img:nth-child(3) {
    height: 147px;
  }
}
@media (max-width: 992px) {
  .block-images {
    gap: 20px;
  }
}

.list-mark ul {
  margin-bottom: 40px;
}
.list-mark ul li {
  margin-bottom: 12px;
  padding-left: 40px;
  position: relative;
}
.list-mark ul li::before, .list-mark ul li::after {
  position: absolute;
  content: "";
  width: 2px;
  height: 10px;
  top: 5px;
  left: 20px;
  background-color: var(--color-primary);
  transform: rotate(45deg);
}
.list-mark ul li::before {
  width: 2px;
  height: 6px;
  top: 8px;
  left: 15px;
  transform: rotate(-45deg);
}

.list-number ol {
  margin-left: 20px;
}
.list-number ol li {
  margin-bottom: 12px;
}
.list-number ol li::marker {
  color: var(--color-primary);
  font-weight: 600;
}

/*----------------------------------global--------------------------------*/
/*----------------------------------header--------------------------------*/
.header {
  position: fixed;
  width: 100%;
  background-color: var(--color-white);
  z-index: 999;
}
@media (max-width: 992px) {
  .header {
    padding-bottom: 0px;
  }
}
.header__content {
  position: relative;
}
.header__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  padding: 15px 0px;
}
@media (max-width: 992px) {
  .header__body {
    margin-bottom: 0px;
  }
}
.header__logo {
  z-index: 3;
  max-width: 250px;
  font-size: 12px;
}
.header__logo img {
  border-radius: 10px;
  margin-right: 15px;
}
@media (max-width: 768px) {
  .header__logo img {
    width: 80px;
    margin-right: 5px;
  }
}
.header__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 6px;
  font-weight: 700;
  border-radius: 10px;
  padding: 8px;
  white-space: nowrap;
  transition: All 0.3s;
}
.header__link svg path {
  transition: All 0.3s;
}
@media (hover: hover) {
  .header__link:hover {
    background-color: var(--color-primary);
    transition: All 0.3s;
    color: var(--color-white);
  }
  .header__link:hover svg path {
    transition: All 0.3s;
    fill: var(--color-white);
  }
}
.header__buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px 16px;
  position: absolute;
  top: 22px;
  right: 10px;
}
@media (max-width: 992px) {
  .header__buttons {
    position: static;
    flex-wrap: wrap;
    justify-content: center;
  }
}
.header__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 20px 0px;
  border-top: 1px solid #D7DEE8;
  border-bottom: 1px solid #D7DEE8;
}
@media (max-width: 992px) {
  .header__bottom {
    border: none;
    padding: 0px;
  }
}

/*----------------------------------header--------------------------------*/
/*----------------------------------search--------------------------------*/
.search {
  position: relative;
}
.search__label_input {
  background-color: inherit;
}
.search__label_input::placeholder {
  color: var(--color-black);
}
.search__label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  font-size: 16px;
}
@media (max-width: 992px) {
  .search {
    display: none;
  }
}

/*----------------------------------search--------------------------------*/
/*----------------------------------menu--------------------------------*/
.menu {
  flex-basis: 1050px;
}
.menu > ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}
.menu > ul li {
  line-height: 138%;
  position: relative;
  font-size: clamp(14px, 1.1111111111vw, 16px);
}
.menu__link {
  transition: All 0.3s ease 0s;
}
@media (hover: hover) {
  .menu__link:hover {
    color: var(--color-primary);
  }
}
.menu__list {
  background-color: var(--color-white);
  box-shadow: 0 0 16px 0 rgba(17, 31, 57, 0.1);
  border-radius: 20px;
  padding: 16px;
  width: 200px;
}
.menu__list_wrapper {
  position: absolute;
  display: none;
}
@media (max-width: 992px) {
  .menu__list_wrapper.open {
    display: block;
    position: static;
  }
}
@media (max-width: 992px) {
  .menu__list {
    position: static;
    width: 100%;
    padding: 10px;
    border-radius: 16px;
    margin-top: 10px;
  }
}
.menu__list li {
  font-weight: 600;
  line-height: 133%;
  display: flex;
  align-items: center;
  gap: 12px;
  width: 100%;
  cursor: pointer;
  position: relative;
}
.menu__list li:not(:last-child) {
  margin-bottom: 10px;
}
.menu__button {
  cursor: pointer;
  padding-right: 20px;
  transition: All 0.3s ease 0s;
  position: relative;
}
.menu__button::after, .menu__button::before {
  position: absolute;
  content: "";
  width: 8px;
  height: 1px;
  top: 10px;
  right: 0;
  background-color: var(--color-black);
  transition: transform 0.2s ease-out;
  border-radius: 5px;
}
.menu__button::after {
  transform: rotate(45deg);
  right: 5px;
}
.menu__button::before {
  transform: rotate(-45deg);
}
@media (hover: hover) {
  .menu__button:hover {
    color: var(--color-primary);
  }
  .menu__button:hover::after {
    transform: rotate(-45deg);
    background-color: var(--color-primary);
  }
  .menu__button:hover::before {
    transform: rotate(45deg);
    background-color: var(--color-primary);
  }
  .menu__button:hover li {
    color: var(--color-black);
  }
  .menu__button:hover .menu__list_wrapper {
    display: block;
    left: -20px;
  }
}
@media (max-width: 992px) {
  .menu__button {
    padding-right: 30px;
  }
  .menu__button.open::after {
    transform: rotate(-45deg);
    background-color: var(--color-primary);
  }
  .menu__button.open::before {
    transform: rotate(45deg);
    background-color: var(--color-primary);
  }
}
@media (max-width: 992px) {
  .menu {
    position: fixed;
    left: 0;
    top: -100%;
    width: 100%;
    height: 100%;
    background: var(--color-white);
    padding: 70px 25px;
    transition: All 0.5s ease 0s;
    overflow: auto;
    z-index: 9;
  }
  .menu._active {
    top: 0;
  }
  .menu__list-item:not(:last-child) {
    margin-bottom: 32px;
  }
  .menu > ul {
    display: block;
    position: relative;
    margin-bottom: 20px;
  }
  .menu ul li:not(:last-child) {
    margin-bottom: 10px;
  }
}

/*----------------------------------menu--------------------------------*/
/*----------------------------------burger--------------------------------*/
.burger {
  display: none;
}
@media (max-width: 992px) {
  .burger {
    width: 36px;
    height: 36px;
    flex: 0 0 auto;
    border-radius: 50%;
    position: relative;
    display: block;
    z-index: 999;
    cursor: pointer;
  }
  .burger__line {
    height: 2px;
    width: 21px;
    position: absolute;
    transition: all 0.3s ease 0s;
    background: #000;
    transform: translate(-50%, -50%);
    border-radius: 1px;
  }
  .burger__line:first-child {
    left: 50%;
    top: 25%;
  }
  .burger__line:nth-child(2) {
    left: 50%;
    top: 50%;
  }
  .burger__line:last-child {
    left: 60%;
    top: 75%;
    width: 10px;
  }
  .burger._active .burger__line:nth-child(2) {
    opacity: 0;
  }
  .burger._active .burger__line:first-child {
    transform: rotate(-45deg);
    left: 30%;
    top: 50%;
  }
  .burger._active .burger__line:last-child {
    transform: rotate(45deg);
    left: 30%;
    top: 50%;
    width: 21px;
  }
}

/*----------------------------------burger--------------------------------*/
/*----------------------------------breadcrumbs--------------------------------*/
.breadcrumbs {
  padding: 60px 0px 60px;
  position: relative;
  z-index: 2;
}
@media (max-width: 992px) {
  .breadcrumbs {
    padding: 60px 0px 0px;
  }
}
@media (max-width: 768px) {
  .breadcrumbs {
    margin-bottom: 40px;
  }
}
.breadcrumbs__list {
  display: flex;
  align-items: center;
  gap: 5px 15px;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  .breadcrumbs__list {
    justify-content: center;
  }
}
.breadcrumbs__item:not(:last-child) {
  position: relative;
  padding-right: 15px;
}
.breadcrumbs__item:not(:last-child)::after, .breadcrumbs__item:not(:last-child)::before {
  position: absolute;
  content: "";
  width: 2px;
  height: 8px;
  top: 8px;
  right: 0;
  border-radius: 1px;
  background-color: var(--color-white);
  transform: rotate(45deg);
}
.breadcrumbs__item:not(:last-child)::after {
  top: 3px;
  right: 0;
  transform: rotate(-45deg);
}
.breadcrumbs__item {
  font-weight: 600;
  line-height: 133%;
  font-family: var(--font-family-m);
  color: var(--color-black-text);
}
.breadcrumbs__item_link {
  transition: all 0.3s;
}
@media (hover: hover) {
  .breadcrumbs__item_link:hover {
    transition: all 0.3s;
    color: var(--color-primary);
  }
}
.breadcrumbs__item:last-child {
  color: var(--color-primary);
}

/*----------------------------------breadcrumbs--------------------------------*/
/*----------------------------------main-section--------------------------------*/
.main-section {
  margin-top: 150px;
  color: var(--color-white);
}
@media (max-width: 992px) {
  .main-section {
    margin-top: 50px;
  }
}
@media (max-width: 768px) {
  .main-section {
    margin-top: 70px;
  }
}
.main-section__content {
  position: relative;
  max-width: 1530px;
  margin: auto;
  padding: 0px 60px 30px 60px;
}
@media (max-width: 992px) {
  .main-section__content {
    padding: 0px 20px 60px 20px;
  }
}
.main-section__body {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 992px) {
  .main-section__body {
    flex-wrap: wrap;
  }
}
.main-section__info {
  flex-basis: 680px;
}
.main-section__info .button {
  display: inline;
}
.main-section__info .button svg {
  padding-top: 5px;
}
@media (max-width: 768px) {
  .main-section__info .button {
    display: flex;
  }
}
.main-section__info > p {
  margin-bottom: 40px;
  max-width: 555px;
}
@media (max-width: 768px) {
  .main-section__info > p {
    margin-bottom: 24px;
  }
}
.main-section__info h1 {
  font-weight: 700;
  font-size: clamp(24px, 3.0555555556vw, 44px);
  line-height: 160%;
  text-transform: uppercase;
  margin-bottom: 40px;
}
@media (max-width: 768px) {
  .main-section__info h1 {
    margin-bottom: 24px;
  }
}
.main-section__blocks {
  margin-bottom: 60px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
}
.main-section__blocks p {
  padding-left: 50px;
  position: relative;
  max-width: 250px;
}
.main-section__blocks p::before {
  position: absolute;
  content: "";
  width: 40px;
  height: 2px;
  top: 8px;
  left: 0;
  background-color: var(--color-secondary);
}
.main-section__photo {
  flex-basis: 690px;
  width: 100%;
  margin-top: -100px;
}
@media (max-width: 992px) {
  .main-section__photo {
    margin-top: 0px;
    order: -1;
  }
}
.main-section__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.main-section__bg img {
  border-radius: var(--border-radius);
}
@media (max-width: 992px) {
  .main-section__bg img {
    border-radius: var(--border-radius-medium);
  }
}

/*----------------------------------main-section--------------------------------*/
/*----------------------------------global--------------------------------*/
.for-what__body {
  display: flex;
  justify-content: space-between;
  gap: 40px 80px;
  position: relative;
}
.for-what__body .block-images {
  flex-basis: 640px;
}
@media (max-width: 768px) {
  .for-what__body .block-images {
    margin-bottom: 40px;
  }
}
@media (max-width: 992px) {
  .for-what__body {
    gap: 10px;
  }
}
@media (max-width: 768px) {
  .for-what__body {
    flex-wrap: wrap;
    padding-top: 100px;
  }
}
.for-what__info {
  flex-basis: 680px;
}
.for-what__info h2 {
  text-align: start;
}
@media (max-width: 768px) {
  .for-what__info h2 {
    position: absolute;
    top: 0;
  }
}
.for-what__info h3 {
  font-size: clamp(16px, 1.25vw, 18px);
  margin-bottom: 20px;
  font-weight: 700;
}
.for-what__info p {
  margin-bottom: 20px;
  line-height: 150%;
}

/*----------------------------------global--------------------------------*/
/*----------------------------------navigation--------------------------------*/
.navigation h3 {
  font-family: var(--font-unbounded);
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 150%;
}
.navigation__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}
.navigation a {
  text-decoration: underline;
  font-size: clamp(16px, 1.25vw, 18px);
  transition: all 0.3s;
}
@media (hover: hover) {
  .navigation a:hover {
    color: var(--color-primary);
    transition: all 0.3s;
  }
}

/*----------------------------------navigation--------------------------------*/
/*----------------------------------navigation--------------------------------*/
.types__body {
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius-small);
  padding: 100px 40px;
}
@media (max-width: 768px) {
  .types__body {
    box-shadow: none;
    padding: 0px;
  }
}
.types__links {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  gap: 30px;
}
.types__links a {
  box-shadow: var(--box-shadow);
  border-radius: 10px;
  padding: 20px 20px 20px 50px;
  color: var(--color-primary);
  text-decoration: underline;
  position: relative;
  border: 1px solid #D7DEE8;
}
.types__links a::before {
  position: absolute;
  content: "";
  width: 4px;
  height: 4px;
  top: 26px;
  left: 30px;
  border-radius: 50%;
  background-color: var(--color-primary);
}
@media (hover: hover) {
  .types__links a:hover {
    text-decoration: none;
  }
}
@media (max-width: 768px) {
  .types__links a {
    box-shadow: none;
  }
}
@media (max-width: 768px) {
  .types__links {
    grid-template-columns: 1fr;
  }
}

/*----------------------------------navigation--------------------------------*/
/*----------------------------------global--------------------------------*/
.expertise__body {
  display: flex;
  justify-content: space-between;
  gap: 40px 10px;
  position: relative;
}
@media (max-width: 768px) {
  .expertise__body {
    flex-wrap: wrap;
    padding-top: 100px;
  }
}
.expertise__info {
  flex-basis: 690px;
}
.expertise__info h2 {
  margin-bottom: 40px;
  text-align: start;
}
@media (max-width: 768px) {
  .expertise__info h2 {
    position: absolute;
    top: 0;
  }
}
.expertise__info p {
  margin-bottom: 40px;
  line-height: 150%;
}
@media (max-width: 768px) {
  .expertise__info p {
    margin-bottom: 20px;
  }
}
.expertise__info .button {
  max-width: 340px;
}
@media (max-width: 768px) {
  .expertise__info {
    order: 1;
  }
}
.expertise .block-images {
  flex-basis: 640px;
}

/*----------------------------------global--------------------------------*/
/*----------------------------------prices-------------------------------*/
.examples__content h2 {
  text-align: start;
}
.examples__info {
  display: flex;
  justify-content: space-between;
  gap: 20px 80px;
}
.examples__info p a {
  display: inline;
  color: var(--color-primary);
  text-decoration: underline;
}
@media (max-width: 768px) {
  .examples__info {
    flex-wrap: wrap;
  }
}

/*----------------------------------prices-------------------------------*/
/*----------------------------------questions-------------------------------*/
.questions__body {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
@media (max-width: 768px) {
  .questions__body {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.questions .accordion {
  flex-basis: 930px;
}
.questions__form {
  position: relative;
}

/*----------------------------------questions------------------------------*/
/*----------------------------------about--------------------------------*/
.legal__content h2 {
  max-width: 930px;
  margin: auto;
  padding-bottom: 40px;
}
.legal__body {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(262px, 1fr));
  gap: 20px 30px;
  margin-bottom: 40px;
}
.legal__block {
  display: grid;
  grid-template-columns: 60px 1fr;
  gap: 10px;
  border: 1px solid #D7DEE8;
  padding: 20px;
  border-radius: var(--border-radius-small);
}
.legal__block_fiel img {
  border: 1px solid #D7DEE8;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}
.legal__block_fiel span {
  display: block;
  color: #585858;
}
.legal__block p {
  font-weight: 500;
}

/*----------------------------------about--------------------------------*/
/*----------------------------------about--------------------------------*/
.documents__content p {
  margin-bottom: 40px;
}
.documents__body {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(262px, 1fr));
  gap: 20px 30px;
}
@media (max-width: 768px) {
  .documents__body {
    gap: 20px;
  }
}
.documents__block {
  border-radius: var(--border-radius-small);
  box-shadow: var(--box-shadow);
  padding: 20px;
  display: grid;
}
.documents__block_top {
  display: flex;
  align-items: center;
  gap: 17px;
  margin-bottom: 40px;
  margin-left: 5px;
}
.documents__block_top p {
  margin-bottom: 0px;
}
.documents__downloads {
  display: flex;
  align-items: center;
  gap: 40px;
}
.documents__download {
  display: flex;
  align-items: center;
  gap: 10px;
}

/*----------------------------------about--------------------------------*/
/*----------------------------------about--------------------------------*/
.certificates {
  padding-bottom: 120px;
}
.certificates__body {
  position: relative;
  padding-bottom: 40px;
}
.certificates__body .swiper-button-next,
.certificates__body .swiper-button-prev {
  top: 20px;
  background-color: var(--color-primary);
  border: 1px solid var(--color-primary);
  border-radius: 10px;
  width: 50px;
  height: 50px;
  padding: 15px;
}

.slider__image img {
  border: 1px solid #D7DEE8;
  border-radius: var(--border-radius-small);
}
.slider__buttons {
  width: 140px;
  position: absolute;
  bottom: 0;
  left: 0;
}

/*----------------------------------about--------------------------------*/
/*----------------------------------about--------------------------------*/
/*----------------------------------about--------------------------------*/
/*----------------------------------filtermenu--------------------------------*/
.filtermenu__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin-bottom: 32px;
  overflow-x: auto;
}
.filtermenu__list {
  display: flex;
  align-items: center;
  gap: 8px;
}
.filtermenu__list li {
  padding: 10px 10px 20px 10px;
  cursor: pointer;
  font-weight: 400;
  font-size: clamp(15px, 1.1805555556vw, 17px);
  line-height: 141%;
  position: relative;
  white-space: nowrap;
}
.filtermenu__list li::after {
  position: absolute;
  content: "";
  width: 8px;
  height: 8px;
  left: 50%;
  bottom: 5px;
  background-color: var(--color-primary);
  transform: translate(-50%, -50%);
  border-radius: 50%;
  opacity: 0;
  transition: all 0.3;
}
.filtermenu__list li.active_ {
  background-color: #EFFAFB;
  border-radius: 16px;
  opacity: 1;
}
.filtermenu__list li.active_::after {
  opacity: 1;
}
@media (max-width: 768px) {
  .filtermenu__list {
    margin-right: 30px;
  }
}
.filtermenu__links {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  font-size: clamp(15px, 1.1805555556vw, 17px);
  padding: 10px 10px 20px 10px;
}
.filtermenu__links :first-child {
  color: var(--color-primary);
  transition: all 0.3s;
}
@media (hover: hover) {
  .filtermenu__links :first-child:hover {
    color: var(--color-primary-hover);
    transition: all 0.3s;
  }
}
.filtermenu__links :last-child {
  color: var(--color-secondary);
  transition: all 0.3s;
}
@media (hover: hover) {
  .filtermenu__links :last-child:hover {
    color: var(--color-secondary-hover);
    transition: all 0.3s;
  }
}
.filtermenu__blocks {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 24px;
  margin-bottom: 24px;
}
@media (max-width: 992px) {
  .filtermenu__blocks {
    display: block;
    width: 100%;
    margin-bottom: 12px;
  }
}
.filtermenu__wrap:first-child {
  grid-row: 1/3;
}
.filtermenu__wrap:nth-child(2) {
  grid-column: 2/3;
  margin-right: -110px;
}
@media (max-width: 1200px) {
  .filtermenu__wrap:nth-child(2) {
    margin-right: -100px;
  }
}
@media (max-width: 992px) {
  .filtermenu__wrap:nth-child(2) {
    margin-right: 0px;
  }
}
.filtermenu__wrap:nth-child(3) {
  grid-column: 3/5;
  padding-left: 110px;
}
@media (max-width: 1200px) {
  .filtermenu__wrap:nth-child(3) {
    padding-left: 100px;
  }
}
@media (max-width: 992px) {
  .filtermenu__wrap:nth-child(3) {
    padding-left: 0px;
  }
}
.filtermenu__wrap:nth-child(4) {
  grid-column: 2/4;
  grid-row: 2/3;
  padding-right: 110px;
}
@media (max-width: 1200px) {
  .filtermenu__wrap:nth-child(4) {
    padding-right: 100px;
  }
}
@media (max-width: 992px) {
  .filtermenu__wrap:nth-child(4) {
    padding-right: 0px;
  }
}
.filtermenu__wrap:nth-child(5) {
  grid-column: 4/5;
  grid-row: 2/3;
  margin-left: -110px;
}
@media (max-width: 1200px) {
  .filtermenu__wrap:nth-child(5) {
    margin-left: -100px;
  }
}
@media (max-width: 992px) {
  .filtermenu__wrap:nth-child(5) {
    margin-left: 0px;
  }
}
@media (max-width: 992px) {
  .filtermenu__wrap {
    margin-bottom: 12px;
  }
}
.filtermenu--mod {
  margin-bottom: 64px;
}
@media (max-width: 768px) {
  .filtermenu--mod {
    margin-bottom: 48px;
  }
}

/*----------------------------------filtermenu--------------------------------*/
/*----------------------------------accordion--------------------------------*/
.accordion__block {
  margin-bottom: 16px;
  background-color: var(--color-white);
  border-bottom: 1px solid #EEEEEE;
}
.accordion__block:first-child {
  border-top: 1px solid #EEEEEE;
}
.accordion__summary {
  list-style: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  position: relative;
  width: 100%;
  background-color: var(--color-white);
  z-index: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 24px 24px 24px 0px;
  transition: all 0.5s;
}
.accordion__summary img {
  transition: all 0.3s;
}
.accordion__details[open] img {
  transform: rotate(45deg);
  transition: all 0.3s;
}
.accordion__details[open] .accordion__title {
  font-weight: 700;
  transition: all 0.5s;
}
.accordion__content {
  display: grid;
  grid-template-rows: 0fr;
  transition-duration: 0.5s;
  background-color: var(--color-white);
  opacity: 0;
  padding-right: 20px;
  padding: 0px 24px 0px 0px;
}
.accordion__content_body {
  overflow: hidden;
  line-height: 140%;
}
.accordion__details[open] + .accordion__content {
  grid-template-rows: 1fr;
  opacity: 1;
  padding-top: -24px;
  padding-bottom: 24px;
}

/*----------------------------------accordion--------------------------------*/
/*----------------------------------card--------------------------------*/
.card {
  height: 100%;
  display: grid;
}
.card__inner {
  position: relative;
  margin-bottom: 24px;
}
.card__photo {
  position: relative;
  background-color: var(--color-bg);
  border-radius: 200px 70px 250px 200px;
  overflow: hidden;
  height: 100%;
  padding-top: 280px;
  margin-bottom: 24px;
}
.card__photo img {
  max-width: 230px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 768px) {
  .card__photo img {
    max-width: 185px;
  }
}
@media (hover: hover) {
  .card__photo:hover .arrow__pulse {
    opacity: 1;
  }
  .card__photo:hover .arrow__pulse::after {
    animation: pulse 2s ease-in-out infinite;
  }
}
@media (max-width: 768px) {
  .card__photo {
    padding-top: 200px;
  }
}
.card__link {
  position: absolute;
  bottom: 0;
  left: 0;
}
.card__name {
  margin-bottom: 10px;
  transition: all 0.3s;
}
@media (hover: hover) {
  .card__name:hover {
    color: var(--color-primary);
    transition: all 0.3s;
  }
}
.card__post {
  color: var(--color-primary);
  margin-bottom: 10px;
  font-size: 13px;
}
.card__experience {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
  font-size: clamp(14px, 1.0416666667vw, 15px);
  font-weight: 600;
  line-height: 141%;
  font-family: var(--font-family-m);
}
.card__description {
  font-size: clamp(14px, 1.0416666667vw, 15px);
  font-weight: 500;
}

/*----------------------------------card--------------------------------*/
/*---------------------------------------sliders----------------------------*/
.slider {
  overflow: hidden;
}
.slider .swiper-wrapper {
  display: flex;
  align-items: stretch;
}
.slider .swiper-slide {
  height: auto;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

/*---------------------------------------sliders----------------------------*/
/*----------------------------------social--------------------------------*/
.social__content--mod .social__body {
  background: linear-gradient(131deg, #487be8 0%, #59aaec 100%);
  display: block;
  position: relative;
  padding: 48px 50px;
}
@media (max-width: 768px) {
  .social__content--mod .social__body {
    padding: 32px 16px;
  }
}
.social__content--mod .social__photo {
  position: absolute;
  bottom: 60%;
  right: 20px;
}
@media (max-width: 992px) {
  .social__content--mod .social__photo {
    bottom: 20px;
  }
}
.social__content--mod .social__link {
  padding: 8px 12px;
}
@media (max-width: 768px) {
  .social__content--mod .social__link:nth-child(2) {
    max-width: 120px;
  }
}
@media (max-width: 768px) {
  .social__content--mod .social__link:nth-child(3) {
    max-width: 100px;
    order: -1;
  }
}
@media (max-width: 768px) {
  .social__content--mod .social__link:nth-child(4) {
    max-width: 100px;
  }
}
@media (max-width: 768px) {
  .social__content--mod .social__link {
    max-width: 180px;
  }
}
.social__content--mod .social__info p {
  max-width: 100%;
}
.social__body {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px 70px;
  background: linear-gradient(131deg, #1d90ef 0%, #7b5fe3 100%);
  border-radius: var(--border-radius);
  padding: 20px 20px 0px 20px;
}
@media (max-width: 992px) {
  .social__body {
    border-radius: 32px;
    flex-wrap: wrap;
  }
}
@media (max-width: 768px) {
  .social__body {
    padding: 24px 16px 0px 16px;
  }
}
.social__info {
  color: var(--color-white);
  flex-basis: 835px;
  margin-bottom: 10px;
}
.social__info p {
  font-weight: 600;
  line-height: 141%;
  font-family: var(--font-family-m);
  max-width: 700px;
  margin-bottom: 42px;
}
@media (max-width: 768px) {
  .social__info p {
    margin-bottom: 16px;
  }
}
.social__links {
  display: flex;
  align-items: stretch;
  gap: 8px;
  flex-wrap: wrap;
}
.social__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 7px;
  font-size: 13px;
  background-color: var(--color-white);
  padding: 14px;
  color: var(--color-black-text);
  border-radius: 16px;
  transition: all 0.3s;
}
@media (hover: hover) {
  .social__link:hover {
    transition: all 0.3s;
    background-color: var(--color-primary-hover);
  }
}
@media (max-width: 768px) {
  .social__link {
    padding: 8px;
    border-radius: 12px;
  }
}
.social__photo {
  margin-top: -65px;
}
@media (max-width: 992px) {
  .social__photo {
    margin-top: -20px;
  }
}
@media (max-width: 768px) {
  .social__photo {
    max-width: 170px;
    margin-top: -80px;
    margin-left: auto;
  }
}

/*----------------------------------social--------------------------------*/
/*----------------------------------news--------------------------------*/
/*----------------------------------news--------------------------------*/
/*----------------------------------contacts--------------------------------*/
/*----------------------------------contacts--------------------------------*/
/*----------------------------------select--------------------------------*/
.dropdown {
  position: relative;
}
.dropdown__button {
  position: relative;
  display: block;
  text-align: left;
  border-radius: 5px;
  font-weight: 700;
  padding: 0px 20px 0px 0px;
  background-color: inherit;
  color: var(--color-primary);
}
.dropdown__button::after, .dropdown__button::before {
  content: "";
  position: absolute;
  top: 35%;
  right: 0px;
  transform: translateY(-50%);
  width: 2px;
  height: 8px;
  border-radius: 2px;
  background-color: var(--color-primary);
  pointer-events: none;
  transform: rotate(45deg);
}
.dropdown__button::before {
  right: 5px;
  transform: rotate(-45deg);
}
.dropdown__list {
  display: none;
  position: absolute;
  overflow: hidden;
  width: 200px;
  left: 0;
  top: 20px;
  z-index: 1;
  background: #F0F5F6;
  padding: 16px;
  border-radius: 10px;
}
.dropdown__list--active {
  display: block;
}
.dropdown__list_item {
  border-bottom: 0;
  cursor: pointer;
  font-size: clamp(11px, 0.9027777778vw, 13px);
}
.dropdown__list_item:not(:last-child) {
  margin-bottom: 10px;
}
.dropdown__list_item:hover {
  color: var(--color-primary);
}
.dropdown__input_hidden {
  display: none;
}

/*----------------------------------select--------------------------------*/
/*---------------------------------------tabs----------------------------*/
.tabs {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
}

.tab-labels {
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;
  gap: 20px;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: none;
}
.tab-labels::-webkit-scrollbar {
  display: none;
}

.tab-label {
  cursor: pointer;
  font-size: clamp(16px, 1.25vw, 18px);
  line-height: 150%;
  background-color: var(--color-white);
  box-shadow: var(--box-shadow);
  padding: 6px 16px;
  border-radius: 6px;
}

.tab-content {
  display: none;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: none;
}
.tab-content .table tbody td {
  text-align: left;
  border-bottom: 1px solid #EEEEEE;
}
.tab-content .table tbody td:nth-child(2) {
  font-weight: 400;
}
.tab-content .table tbody td:last-child {
  font-weight: 700;
  white-space: nowrap;
}
@media (max-width: 768px) {
  .tab-content .table {
    width: 1000px;
    border-collapse: separate;
  }
}

#tab-1:checked ~ .content-1,
#tab-2:checked ~ .content-2,
#tab-3:checked ~ .content-3,
#tab-4:checked ~ .content-4,
#tab-5:checked ~ .content-5,
#tab-6:checked ~ .content-6,
#tab-7:checked ~ .content-7,
#tab-8:checked ~ .content-8,
#tab-9:checked ~ .content-9,
#tab-10:checked ~ .content-10,
#tab-11:checked ~ .content-11,
#tab-12:checked ~ .content-12,
#tab-13:checked ~ .content-13 {
  display: block;
}

#tab-1:checked ~ .tab-labels label[for=tab-1],
#tab-2:checked ~ .tab-labels label[for=tab-2],
#tab-3:checked ~ .tab-labels label[for=tab-3],
#tab-4:checked ~ .tab-labels label[for=tab-4],
#tab-5:checked ~ .tab-labels label[for=tab-5],
#tab-6:checked ~ .tab-labels label[for=tab-6],
#tab-7:checked ~ .tab-labels label[for=tab-7],
#tab-8:checked ~ .tab-labels label[for=tab-8],
#tab-9:checked ~ .tab-labels label[for=tab-9],
#tab-10:checked ~ .tab-labels label[for=tab-10],
#tab-11:checked ~ .tab-labels label[for=tab-11],
#tab-12:checked ~ .tab-labels label[for=tab-12],
#tab-13:checked ~ .tab-labels label[for=tab-13] {
  color: var(--color-white);
  background-color: var(--color-primary);
}

input[type=radio] {
  display: none;
}

/*---------------------------------------tabs----------------------------*/
/*----------------------------------procedure--------------------------------*/
.advantages__content h2 {
  margin-bottom: 60px;
}
@media (max-width: 768px) {
  .advantages__content h2 {
    margin-bottom: 40px;
  }
}
.advantages__body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
@media (max-width: 992px) {
  .advantages__body {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 768px) {
  .advantages__body {
    grid-template-columns: 1fr;
    gap: 10px;
  }
}
.advantages__block {
  border-radius: var(--border-radius-small);
  box-shadow: var(--box-shadow);
  padding: 40px;
}
.advantages__block img {
  margin-bottom: 40px;
}
@media (max-width: 768px) {
  .advantages__block img {
    margin-bottom: 10px;
    width: 40px;
  }
}
@media (max-width: 768px) {
  .advantages__block {
    padding: 20px;
  }
}

/*----------------------------------procedure--------------------------------*/
/*----------------------------------menu--------------------------------*/
.theory__body {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
@media (max-width: 768px) {
  .theory__body {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.theory__info {
  flex-basis: 954px;
}
.theory__info h2 {
  text-align: start;
}
.theory__info img {
  border-radius: var(--border-radius-small);
}
.theory__info p {
  margin-bottom: 40px;
  line-height: 150%;
}
.theory__info h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 140%;
  margin-bottom: 40px;
}
.theory__image {
  margin-bottom: 40px;
}
.theory__box {
  background-color: #EEDBDB;
  border-radius: var(--border-radius-small);
  padding: 30px;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px 24px;
  font-weight: 500;
}
.theory__box p {
  margin-bottom: 0px;
}
@media (max-width: 768px) {
  .theory__box {
    flex-wrap: wrap;
    padding: 20px;
  }
}
.theory__form {
  position: relative;
}

/*----------------------------------menu--------------------------------*/
/*----------------------------------prices-------------------------------*/
.prices__content p {
  margin-bottom: 40px;
  line-height: 150%;
}
.prices__table {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: none;
  margin-bottom: 40px;
}
.prices__table::-webkit-scrollbar {
  display: none;
}
.prices__info {
  background-color: #BAECE9;
  padding: 30px;
  border-radius: var(--border-radius-small);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: relative;
  overflow: hidden;
}
.prices__info_block {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  flex-basis: 200px;
}
.prices__info_block img {
  width: 30px;
  height: 30px;
}
.prices__info p {
  margin-bottom: 0px;
  flex-basis: 900px;
  position: relative;
  z-index: 2;
}
.prices__info p a {
  display: inline;
}
.prices__info_img:first-child {
  position: absolute;
  left: 0;
  top: 0;
}
.prices__info_img:last-child {
  position: absolute;
  right: 0;
}
@media (max-width: 768px) {
  .prices__info_img:last-child {
    right: -150px;
    transform: rotate(-30deg);
  }
}
@media (max-width: 992px) {
  .prices__info {
    padding: 20px;
  }
}
@media (max-width: 768px) {
  .prices__info {
    flex-wrap: wrap;
    justify-content: start;
  }
}

.table {
  border-collapse: collapse;
  width: 100%;
}
@media (max-width: 768px) {
  .table {
    width: 480px;
    border-collapse: separate;
  }
}

.table th, .table td {
  padding: 40px 0px 40px 40px;
}
@media (max-width: 768px) {
  .table th, .table td {
    padding: 40px 0px 40px 20px;
  }
}

.table thead th:first-child {
  border-top-left-radius: var(--border-radius-small);
  border-bottom-left-radius: var(--border-radius-small);
}

.table thead th:last-child {
  border-top-right-radius: var(--border-radius-small);
  border-bottom-right-radius: var(--border-radius-small);
}

.table thead th {
  background-color: #F8F8F8;
  text-align: left;
  font-weight: bold;
}

.table tbody td {
  text-align: left;
  border-bottom: 1px solid #EEEEEE;
}
.table tbody td:nth-child(2) {
  font-weight: 700;
}
.table tbody td:last-child .button {
  max-width: 200px;
  margin-left: auto;
}

/*----------------------------------prices--------------------------------*/
/*----------------------------------form--------------------------------*/
.form {
  padding: 40px;
  max-width: 376px;
  border: 1px solid #D7DEE8;
  border-radius: var(--border-radius-small);
  background-color: var(--color-white);
  position: sticky;
  top: 170px;
}
.form h4 {
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  margin-bottom: 10px;
}
.form p {
  font-size: clamp(16px, 1.25vw, 18px);
  margin-bottom: 20px;
  text-align: center;
}
.form__input {
  width: 100%;
  border: 1px solid #D7DEE8;
  padding: 18px 20px;
  border-radius: 12px;
  margin-bottom: 20px;
  font-size: clamp(16px, 1.25vw, 18px);
}
.form__input::placeholder {
  font-size: clamp(16px, 1.25vw, 18px);
  color: #585858;
}
.form__button {
  cursor: pointer;
  font-size: clamp(16px, 1.25vw, 18px);
  margin-bottom: 20px;
}
.form__link {
  display: inline;
}
@media (max-width: 768px) {
  .form {
    padding: 20px 25px;
  }
}

.checkbox {
  display: inline-block;
}
.checkbox__input {
  display: none;
}
.checkbox__input:checked + .checkbox__label::after {
  transform: rotate(45deg) scale(1);
}
.checkbox__label {
  font-size: clamp(12px, 0.9722222222vw, 14px);
  line-height: 140%;
  display: inline-flex;
  align-items: center;
  width: 100%;
  position: relative;
  cursor: pointer;
}
.checkbox__label__text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  white-space: nowrap;
}
.checkbox__label::before {
  content: "";
  align-self: flex-start;
  flex: 0 0 24px;
  height: 24px;
  margin-right: 10px;
  border-radius: 4px;
  background: var(--color-primary);
  position: relative;
}
.checkbox__label::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 12px;
  border: solid var(--color-white);
  border-width: 0 2px 2px 0;
  top: 5px;
  left: 10px;
  transform: rotate(45deg) scale(0);
  transition: transform 0.2s ease-in-out;
}

/*----------------------------------form--------------------------------*/
/*----------------------------------menu--------------------------------*/
.stages__body {
  display: flex;
  justify-content: space-between;
  gap: 50px 10px;
}
@media (max-width: 768px) {
  .stages__body {
    flex-wrap: wrap;
  }
}
.stages__info {
  flex-basis: 675px;
}
.stages__info h2 {
  text-align: start;
}
.stages__info p {
  line-height: 150%;
}
.stages__info p:not(:last-child) {
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  .stages__info {
    flex-basis: 100%;
  }
}
.stages ol.stages__list {
  counter-reset: item;
  list-style-type: none;
  padding-left: 0;
  flex-basis: 675px;
  border: 1px solid #EEEEEE;
  border-radius: var(--border-radius-small);
  padding: 30px 40px 10px 40px;
}
@media (max-width: 768px) {
  .stages ol.stages__list {
    flex-basis: 100%;
    padding: 20px;
  }
}
.stages ol.stages__list li {
  position: relative;
  padding-left: 90px;
  margin-bottom: 20px;
}
.stages ol.stages__list li:not(:last-child) {
  border-bottom: 1px solid #EEEEEE;
  padding-bottom: 30px;
}
@media (max-width: 992px) {
  .stages ol.stages__list li {
    padding-left: 60px;
  }
}
.stages ol.stages__list li:before {
  counter-increment: item;
  content: counter(item, decimal-leading-zero);
  position: absolute;
  left: 0;
  top: 10px;
  color: var(--color-primary);
  font-size: clamp(24px, 2.7777777778vw, 40px);
  font-weight: 700;
  font-family: var(--font-unbounded);
}

/*----------------------------------menu--------------------------------*/
/*----------------------------------footer--------------------------------*/
.footer {
  background-color: #313131;
  color: var(--color-white);
  padding-top: 80px;
}
@media (max-width: 768px) {
  .footer {
    padding-top: 40px;
  }
}
.footer__wrapper {
  padding: 24px 0px;
}
.footer__logo {
  margin-bottom: 40px;
}
.footer__body {
  display: flex;
  justify-content: space-between;
  gap: 40px 10px;
}
@media (max-width: 992px) {
  .footer__body {
    flex-wrap: wrap;
  }
}
.footer__block address {
  margin-bottom: 15px;
}
.footer__block_tel {
  font-weight: 700;
  font-size: clamp(14px, 1.3888888889vw, 20px);
  margin-bottom: 15px;
}
.footer__block_email {
  text-decoration: underline;
  color: var(--color-primary);
  margin-bottom: 15px;
}
.footer__block .messengers {
  justify-content: start;
  margin-bottom: 10px;
}
.footer__block .messengers a:first-child {
  border: 1px solid #80ABFF;
}
.footer__block .messengers a:nth-child(2) {
  border: 1px solid #39E8DE;
}
@media (max-width: 768px) {
  .footer__block:first-child {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
    flex-basis: 100%;
  }
  .footer__block:first-child .footer__logo {
    flex-basis: 100%;
    justify-content: center;
  }
}
@media (max-width: 768px) {
  .footer__block:nth-child(2) {
    width: 48%;
  }
}
@media (max-width: 768px) {
  .footer__block:nth-child(3) {
    width: 44%;
  }
}
.footer__title {
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 150%;
  font-size: clamp(14px, 1.25vw, 18px);
}
.footer__list li {
  margin-bottom: 10px;
  font-weight: 500;
  line-height: 150%;
  font-size: clamp(14px, 1.25vw, 18px);
  transition: all 0.3s;
}
@media (hover: hover) {
  .footer__list li:hover {
    color: var(--color-primary);
    text-decoration: underline;
  }
}
.footer__bottom {
  padding: 40px 16px;
  display: flex;
  justify-content: space-between;
  gap: 16px 40px;
}
@media (max-width: 768px) {
  .footer__bottom {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.footer__bottom a {
  text-decoration: underline;
}

/*----------------------------------footer--------------------------------*/