@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

a:focus,
a:active {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  width: 100%;
  font-size: 100%;
  line-height: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  height: 100dvh;
  min-width: 320px;
  scroll-behavior: smooth;
}

input,
button,
textarea {
  font-family: inherit;
  resize: none;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a {
  font-size: inherit;
  color: inherit;
  display: inherit;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
  max-width: 100%;
  object-fit: cover;
}

h1, h2, h3, h4, h5, h6, p, address, cite, span, ul, li {
  font-style: normal;
  font-size: inherit;
  font-weight: inherit;
}

/*-----------------------------------обнуляющие стили--------------------------------*/
/*----------------------------------Шрифты--------------------------------*/
@font-face {
  font-family: "Heliosext";
  src: url("../fonts/heliosext_regular.woff2") format(woff2);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Heliosext";
  src: url("../fonts/heliosext_bold.woff2") format(woff2);
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Mulish";
  src: url("../fonts/Mulish-Medium.woff2") format(woff2);
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Mulish";
  src: url("../fonts/Mulish-SemiBold.woff2") format(woff2);
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
/*----------------------------------Шрифты--------------------------------*/
/*----------------------------------Переменные--------------------------------*/
:root {
  --color-black: #000000;
  --color-black-text: #1B1B26;
  --color-white: #FFFFFF;
  --color-primary: #00A7AA;
  --color-primary-hover: #E2F5F6;
  --color-primary-disabled: #80D3D5;
  --color-secondary: #F85077;
  --color-secondary-hover: #FFEEF2;
  --color-secondary-disabled: #FE8EA8;
  --color-bg: #F0F5F6;
  --border: 1px solid var(--color-primary);
  --border-radius: 60px;
  --border-radius-small: 40px;
  --font-family-base: "Heliosext", Arial, sans-serif;
  --font-family-m: "Mulish", Arial, sans-serif;
  --container-width: 1332px;
}

/*----------------------------------Переменные--------------------------------*/
/*----------------------------------global--------------------------------*/
body.lock {
  overflow: hidden;
}

html {
  scroll-padding-top: 100px;
}

body {
  font-family: var(--font-family-base);
  font-size: clamp(14px, 1.1805555556vw, 17px);
  font-weight: 700;
  color: var(--color-black-text);
  background: var(--color-white);
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

.main {
  flex: 1 1 auto;
}

._container {
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 0px 16px;
}

section {
  padding: 50px 0px;
}
@media (max-width: 768px) {
  section {
    padding: 30px 0px;
  }
}

.section-color {
  background-color: var(--color-bg);
}

._ibg {
  position: relative;
}
._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

.title {
  font-size: clamp(26px, 2.7777777778vw, 40px);
  line-height: 130%;
  color: var(--color-black);
  margin-bottom: 32px;
}
.title--mod {
  color: var(--color-white);
  margin-bottom: 24px;
}

.subtitle {
  font-size: clamp(18px, 2.2222222222vw, 32px);
  line-height: 100%;
  color: var(--color-white);
}

.text {
  font-size: clamp(14px, 1.25vw, 18px);
  color: var(--color-black);
  line-height: 100%;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  padding: 11px 24px;
  border-radius: 16px;
  cursor: pointer;
  transition: all 0.3s;
  width: 100%;
  text-align: center;
  font-size: clamp(12px, 0.9027777778vw, 13px);
  white-space: nowrap;
}

.button-outline {
  border: 1px solid var(--color-primary);
  background-color: var(--color-white);
  border-radius: var(--border-radius-small);
  color: var(--color-primary);
  transition: all 0.3s;
}
.button-outline svg {
  transition: all 0.3s;
}
@media (hover: hover) {
  .button-outline:hover {
    background-color: var(--color-primary-hover);
  }
  .button-outline:hover svg {
    transform: translateX(5px);
    transition: all 0.3s;
  }
}
.button-outline:active {
  border: 1px solid var(--color-primary-hover);
  color: var(--color-primary-disabled);
}
.button-outline:active svg {
  transition: all 0.3s;
  opacity: 0.5;
}
@media (max-width: 768px) {
  .button-outline {
    justify-content: center;
  }
}

.button-filled-primary {
  background-color: var(--color-primary);
  color: var(--color-white);
  transition: all 0.3s;
}
.button-filled-primary svg {
  transition: all 0.3s;
}
@media (hover: hover) {
  .button-filled-primary:hover {
    background-color: var(--color-primary-hover);
    color: var(--color-primary);
  }
  .button-filled-primary:hover svg {
    transform: translateX(5px);
    transition: all 0.3s;
  }
  .button-filled-primary:hover svg path {
    stroke: var(--color-primary);
    transition: all 0.3s;
  }
}
.button-filled-primary:active {
  background-color: var(--color-primary-disabled);
  color: var(--color-white);
  transition: all 0.3s;
}
.button-filled-primary:active svg path {
  stroke: var(--color-white);
  transition: all 0.3s;
}

.button-filled-secondary {
  background-color: var(--color-secondary);
  color: var(--color-white);
  transition: all 0.3s;
}
@media (hover: hover) {
  .button-filled-secondary:hover {
    background-color: var(--color-secondary-hover);
    color: var(--color-secondary);
    transition: all 0.3s;
  }
}
.button-filled-secondary:active {
  background-color: var(--color-secondary-disabled);
  color: var(--color-white);
  transition: all 0.3s;
}

.button-white {
  background-color: var(--color-white);
  color: var(--color-black-text);
  border: 1px solid var(--color-white);
  transition: all 0.3s;
}
.button-white svg {
  transition: all 0.3s;
}
@media (hover: hover) {
  .button-white:hover {
    color: var(--color-white);
    background-color: rgba(255, 255, 255, 0.1);
  }
  .button-white:hover svg {
    transform: translateX(5px);
    transition: all 0.3s;
  }
  .button-white:hover svg path {
    transition: all 0.3s;
  }
  .button-white:hover svg path {
    stroke: var(--color-white);
    transition: all 0.3s;
  }
}
.button-white:active {
  background-color: rgba(255, 255, 255, 0.5);
  color: var(--color-primary);
  transition: all 0.3s;
}
.button-white:active svg path {
  stroke: var(--color-primary);
  transition: all 0.3s;
}

.right__button {
  display: inline-grid;
  justify-content: end;
  width: 100%;
}
@media (max-width: 768px) {
  .right__button {
    display: flex;
  }
}

.button-more {
  background-color: inherit;
  color: var(--color-primary);
  font-weight: 700;
}
.button-more.view {
  display: none;
}

.content-more {
  display: none;
}
.content-more.view {
  display: block;
}

.video {
  height: 100%;
  width: 100%;
}
.video p {
  font-weight: 600;
  font-family: var(--font-family-m);
  line-height: 141%;
  padding: 16px;
}
.video p a {
  color: var(--color-primary);
  display: inline-block;
  position: relative;
}
.video p a::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  left: 0;
  bottom: 0;
  transition: transform 0.3s ease;
  transform: scaleX(0);
  background: var(--color-primary);
}
@media (hover: hover) {
  .video p a:hover::after {
    transform: scaleX(1);
  }
}
.video__link {
  position: relative;
  display: inline-block;
}
.video__link_play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  border: 1px solid var(--color-white);
  padding: 20px 22px;
}
.video__link img {
  width: 100%;
  border-radius: 24px;
}

.arrow__pulse {
  position: absolute;
  top: 25px;
  right: 35px;
  border: 3px solid var(--color-primary);
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  opacity: 0;
  transition: all 0.5s;
}
.arrow__pulse::after {
  position: absolute;
  content: "";
  width: 64px;
  height: 64px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: inherit;
  border: 1px solid var(--color-primary);
  border-radius: 50%;
  opacity: 0;
}
@media (max-width: 768px) {
  .arrow__pulse::after {
    opacity: 1;
  }
}
@keyframes pulse {
  0% {
    transform: translate(-50%, -50%) scale(0.5);
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1.1);
  }
  100% {
    transform: translate(-50%, -50%) scale(0.5);
    opacity: 0;
  }
}
@media (max-width: 768px) {
  .arrow__pulse {
    opacity: 1;
  }
}

.block-row {
  background: linear-gradient(129deg, #f85077 0%, #af47d1 100%);
  padding: 38px 54px;
  border-radius: var(--border-radius-small);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
@media (max-width: 992px) {
  .block-row {
    flex-wrap: wrap;
    padding: 32px 16px;
    border-radius: 32px;
  }
}
.block-row__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  color: var(--color-white);
}
.block-row__item:first-child {
  flex-basis: 525px;
}
.block-row__item img {
  border-radius: 50%;
  background: linear-gradient(45deg, #c3f0f3 32.68%, #a9d9e6 100%);
  border: 1px solid var(--color-white);
}
.block-row__item_col span {
  margin-bottom: 10px;
  display: block;
  font-size: clamp(12px, 1.1805555556vw, 17px);
}
.block-row__item_col p {
  font-family: var(--font-family-m);
}
@media (max-width: 768px) {
  .block-row__item {
    gap: 10px;
  }
}
@media (max-width: 768px) {
  .block-row__button {
    width: 100%;
  }
}
.block-row--mod {
  margin-bottom: 64px;
  background: linear-gradient(90deg, #56db98 0%, #63caa3 100%);
  padding: 10px 60px;
}
.block-row--mod .block-row__item {
  justify-content: start;
}
.block-row--mod .block-row__item:first-child img {
  background: inherit;
  border: none;
  border-radius: 0;
}
@media (max-width: 992px) {
  .block-row--mod {
    padding: 20px;
  }
}

.block {
  position: relative;
}
.block img {
  border-radius: 24px;
  width: 100%;
}
.block span {
  position: absolute;
  left: 16px;
  bottom: 16px;
  font-weight: 400;
  font-size: 13px;
  line-height: 138%;
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.1);
  background-color: var(--color-white);
  padding: 13px 4px 13px 24px;
  border-radius: var(--border-radius-small);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0px;
  transition: all 0.3s ease-in-out;
  margin-right: 16px;
}
.block span svg {
  opacity: 0;
  transform: translateX(-20px);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out, margin-left 0.3s ease-in-out; /* Плавное появление и движение */
}
@media (max-width: 768px) {
  .block span {
    padding: 6px 16px;
    display: inline;
    border-radius: 16px;
  }
}
@media (hover: hover) {
  .block:hover {
    color: var(--color-primary);
  }
  .block:hover span {
    gap: 20px;
    padding: 13px 20px 13px 24px;
  }
  .block:hover svg {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  }
}

.footnote {
  margin-left: 40px;
  font-weight: 500;
  font-size: 13px;
  line-height: 138%;
  color: var(--color-black);
}
@media (max-width: 768px) {
  .footnote {
    margin-left: 0px;
  }
}

/*----------------------------------global--------------------------------*/
.list-links {
  padding-top: 50px;
}
.list-links .menu__link {
  text-decoration: none;
  color: var(--color-black);
  display: block;
  margin-bottom: 10px;
  text-align: center;
}

/*----------------------------------header--------------------------------*/
.header {
  position: fixed;
  width: 100%;
  background-color: var(--color-white);
  padding-bottom: 10px;
  z-index: 999;
}
@media (max-width: 992px) {
  .header {
    padding-bottom: 0px;
  }
}
.header__content {
  position: relative;
}
.header__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  padding: 10px 0px;
  margin-bottom: 15px;
}
@media (max-width: 992px) {
  .header__body {
    margin-bottom: 0px;
  }
}
.header__logo {
  z-index: 3;
}
@media (max-width: 768px) {
  .header__logo {
    max-width: 130px;
  }
}
.header__links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px 60px;
  font-size: clamp(12px, 1.1111111111vw, 16px);
}
.header__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 6px;
  font-weight: 400;
  border-radius: 100px;
  padding: 8px 24px;
  background-color: var(--color-primary-hover);
  white-space: nowrap;
  transition: All 0.3s;
}
.header__link svg path {
  transition: All 0.3s;
}
@media (hover: hover) {
  .header__link:hover {
    background-color: var(--color-primary);
    transition: All 0.3s;
    color: var(--color-white);
  }
  .header__link:hover svg path {
    transition: All 0.3s;
    fill: var(--color-white);
  }
}
@media (max-width: 768px) {
  .header__link {
    background-color: inherit;
    padding: 0px;
  }
  .header__link span {
    display: none;
  }
}
.header__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.header__buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  position: absolute;
  top: 22px;
  right: 10px;
}
@media (max-width: 992px) {
  .header__buttons {
    position: static;
    flex-wrap: wrap;
  }
}

/*----------------------------------header--------------------------------*/
/*----------------------------------search--------------------------------*/
.search {
  position: relative;
  margin-right: 460px;
}
@media (max-width: 992px) {
  .search {
    margin-right: 0px;
  }
}
.search__btn {
  background-color: inherit;
  cursor: pointer;
  border: 2px solid var(--color-black-text);
  padding: 10px;
  border-radius: 50%;
}
@media (max-width: 768px) {
  .search__btn {
    border: none;
    padding: 0px;
  }
}
.search__btn._act {
  opacity: 0;
}
.search__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.search__label_input {
  background-color: inherit;
}
.search__label_close {
  cursor: pointer;
}
.search__window {
  position: absolute;
  left: -250px;
  top: -2px;
  background-color: var(--color-white);
  padding: 12px 24px;
  border-radius: var(--border-radius-small);
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
  transform: translateX(100%);
  z-index: 999;
  border: 1px solid #D6D6D6;
  width: 320px;
}
@media (max-width: 768px) {
  .search__window {
    top: -15px;
    width: 290px;
  }
}
.search__label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  color: var(--color-blue);
  font-size: 15px;
}
.search__window._act {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}
.search__window--active {
  border-color: var(--color-primary);
}

/*----------------------------------search--------------------------------*/
/*----------------------------------menu--------------------------------*/
.menu > ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 16px;
}
.menu > ul li {
  font-weight: 700;
  line-height: 138%;
  position: relative;
  font-size: clamp(12px, 0.9027777778vw, 13px);
}
@media (hover: hover) {
  .menu > ul li:hover .menu__list_wrapper {
    display: block;
    left: -20px;
  }
}
.menu__link {
  transition: All 0.3s ease 0s;
}
@media (hover: hover) {
  .menu__link:hover {
    color: var(--color-primary);
  }
}
.menu__button {
  cursor: pointer;
  padding-right: 15px;
  transition: All 0.3s ease 0s;
}
.menu__button::after, .menu__button::before {
  position: absolute;
  content: "";
  width: 6px;
  height: 2px;
  top: 8px;
  right: 0;
  background-color: var(--color-black-text);
  transition: transform 0.2s ease-out;
  border-radius: 5px;
}
.menu__button::after {
  transform: rotate(45deg);
  right: 4px;
}
.menu__button::before {
  transform: rotate(-45deg);
}
@media (hover: hover) {
  .menu__button:hover {
    color: var(--color-primary);
  }
  .menu__button:hover::after {
    transform: rotate(-45deg);
    background-color: var(--color-primary);
  }
  .menu__button:hover::before {
    transform: rotate(45deg);
    background-color: var(--color-primary);
  }
  .menu__button:hover li {
    color: var(--color-black-text);
  }
}
@media (max-width: 992px) {
  .menu__button {
    padding-right: 30px;
  }
}
.menu__list {
  background-color: var(--color-white);
  box-shadow: 0 0 16px 0 rgba(17, 31, 57, 0.1);
  border-radius: 24px;
  width: 320px;
  padding: 16px;
  margin-top: 20px;
}
.menu__list_wrapper {
  position: absolute;
  display: none;
}
@media (max-width: 992px) {
  .menu__list_wrapper.open {
    display: block;
    position: static;
  }
}
@media (max-width: 992px) {
  .menu__list {
    position: static;
    width: 100%;
    padding: 10px;
    border-radius: 16px;
    margin-top: 10px;
  }
}
.menu__list li {
  font-family: var(--font-family-m);
  font-weight: 600;
  font-size: clamp(12px, 1.0416666667vw, 15px);
  line-height: 133%;
  display: flex;
  align-items: center;
  gap: 12px;
  width: 100%;
  cursor: pointer;
  position: relative;
  padding-left: 25px;
}
.menu__list li:not(:last-child) {
  margin-bottom: 10px;
}
.menu__list li::before {
  position: absolute;
  content: "";
  width: 6px;
  height: 6px;
  top: 35%;
  left: 10px;
  border-radius: 50%;
  background-color: #63D7DF;
}
.menu__list li img {
  width: 15px;
  opacity: 0;
  transition: all 0.3s;
}
@media (hover: hover) {
  .menu__list li:hover img {
    opacity: 1;
  }
}
@media (max-width: 992px) {
  .menu {
    position: fixed;
    left: 0;
    top: -100%;
    width: 100%;
    height: 100%;
    background: var(--color-white);
    padding: 50px 20px;
    transition: All 0.5s ease 0s;
    overflow: auto;
    z-index: 9;
  }
  .menu._active {
    top: 0;
  }
  .menu__list-item:not(:last-child) {
    margin-bottom: 32px;
  }
  .menu > ul {
    display: block;
    position: relative;
    margin-bottom: 20px;
  }
  .menu ul li:not(:last-child) {
    margin-bottom: 10px;
  }
}

/*----------------------------------menu--------------------------------*/
/*----------------------------------burger--------------------------------*/
.burger {
  display: none;
}
@media (max-width: 992px) {
  .burger {
    width: 36px;
    height: 36px;
    flex: 0 0 auto;
    border-radius: 50%;
    position: relative;
    display: block;
    z-index: 999;
    cursor: pointer;
  }
  .burger__line {
    height: 2px;
    width: 21px;
    position: absolute;
    transition: all 0.3s ease 0s;
    background: #000;
    transform: translate(-50%, -50%);
    border-radius: 1px;
  }
  .burger__line:first-child {
    left: 50%;
    top: 25%;
  }
  .burger__line:nth-child(2) {
    left: 50%;
    top: 50%;
  }
  .burger__line:last-child {
    left: 60%;
    top: 75%;
    width: 10px;
  }
  .burger._active .burger__line:nth-child(2) {
    opacity: 0;
  }
  .burger._active .burger__line:first-child {
    transform: rotate(-45deg);
    left: 30%;
    top: 50%;
  }
  .burger._active .burger__line:last-child {
    transform: rotate(45deg);
    left: 30%;
    top: 50%;
    width: 21px;
  }
}

/*----------------------------------burger--------------------------------*/
/*----------------------------------breadcrumbs--------------------------------*/
.breadcrumbs {
  margin-top: 150px;
}
@media (max-width: 992px) {
  .breadcrumbs {
    margin-top: 90px;
  }
}
.breadcrumbs__list {
  display: flex;
  align-items: center;
  gap: 5px 10px;
  flex-wrap: wrap;
}
.breadcrumbs__item:not(:last-child) {
  position: relative;
  padding-right: 10px;
}
.breadcrumbs__item:not(:last-child)::after {
  position: absolute;
  content: "/";
  width: 1px;
  height: 15px;
  top: 0;
  right: 0;
  border-radius: 1px;
  transform: rotate(15deg);
}
.breadcrumbs__item {
  font-weight: 600;
  line-height: 133%;
  font-family: var(--font-family-m);
  color: var(--color-black-text);
}
.breadcrumbs__item_link {
  transition: all 0.3s;
}
@media (hover: hover) {
  .breadcrumbs__item_link:hover {
    transition: all 0.3s;
    color: var(--color-primary);
  }
}
.breadcrumbs__item:last-child {
  color: var(--color-primary);
}

/*----------------------------------breadcrumbs--------------------------------*/
/*----------------------------------prices-------------------------------*/
.pagination {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
}
.pagination__number, .pagination__arrow {
  border-radius: 50%;
  border: 1px solid inherit;
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.pagination__active {
  border: 1px solid var(--color-black-text);
}
@media (max-width: 768px) {
  .pagination {
    display: none;
  }
}

/*----------------------------------prices--------------------------------*/
/*----------------------------------about--------------------------------*/
/*----------------------------------about--------------------------------*/
/*----------------------------------filtermenu--------------------------------*/
.filtermenu__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin-bottom: 32px;
  overflow-x: auto;
}
.filtermenu__list {
  display: flex;
  align-items: center;
  gap: 8px;
}
.filtermenu__list li {
  padding: 10px 10px 20px 10px;
  cursor: pointer;
  font-weight: 400;
  font-size: clamp(15px, 1.1805555556vw, 17px);
  line-height: 141%;
  position: relative;
  white-space: nowrap;
}
.filtermenu__list li::after {
  position: absolute;
  content: "";
  width: 8px;
  height: 8px;
  left: 50%;
  bottom: 5px;
  background-color: var(--color-primary);
  transform: translate(-50%, -50%);
  border-radius: 50%;
  opacity: 0;
  transition: all 0.3;
}
.filtermenu__list li.active_ {
  background-color: #EFFAFB;
  border-radius: 16px;
  opacity: 1;
}
.filtermenu__list li.active_::after {
  opacity: 1;
}
@media (max-width: 768px) {
  .filtermenu__list {
    margin-right: 30px;
  }
}
.filtermenu__links {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  font-size: clamp(15px, 1.1805555556vw, 17px);
  padding: 10px 10px 20px 10px;
}
.filtermenu__links :first-child {
  color: var(--color-primary);
  transition: all 0.3s;
}
@media (hover: hover) {
  .filtermenu__links :first-child:hover {
    color: var(--color-primary-hover);
    transition: all 0.3s;
  }
}
.filtermenu__links :last-child {
  color: var(--color-secondary);
  transition: all 0.3s;
}
@media (hover: hover) {
  .filtermenu__links :last-child:hover {
    color: var(--color-secondary-hover);
    transition: all 0.3s;
  }
}
.filtermenu__blocks {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 24px;
  margin-bottom: 24px;
}
@media (max-width: 992px) {
  .filtermenu__blocks {
    display: block;
    width: 100%;
    margin-bottom: 12px;
  }
}
.filtermenu__wrap:first-child {
  grid-row: 1/3;
}
.filtermenu__wrap:nth-child(2) {
  grid-column: 2/3;
  margin-right: -110px;
}
@media (max-width: 1200px) {
  .filtermenu__wrap:nth-child(2) {
    margin-right: -100px;
  }
}
@media (max-width: 992px) {
  .filtermenu__wrap:nth-child(2) {
    margin-right: 0px;
  }
}
.filtermenu__wrap:nth-child(3) {
  grid-column: 3/5;
  padding-left: 110px;
}
@media (max-width: 1200px) {
  .filtermenu__wrap:nth-child(3) {
    padding-left: 100px;
  }
}
@media (max-width: 992px) {
  .filtermenu__wrap:nth-child(3) {
    padding-left: 0px;
  }
}
.filtermenu__wrap:nth-child(4) {
  grid-column: 2/4;
  grid-row: 2/3;
  padding-right: 110px;
}
@media (max-width: 1200px) {
  .filtermenu__wrap:nth-child(4) {
    padding-right: 100px;
  }
}
@media (max-width: 992px) {
  .filtermenu__wrap:nth-child(4) {
    padding-right: 0px;
  }
}
.filtermenu__wrap:nth-child(5) {
  grid-column: 4/5;
  grid-row: 2/3;
  margin-left: -110px;
}
@media (max-width: 1200px) {
  .filtermenu__wrap:nth-child(5) {
    margin-left: -100px;
  }
}
@media (max-width: 992px) {
  .filtermenu__wrap:nth-child(5) {
    margin-left: 0px;
  }
}
@media (max-width: 992px) {
  .filtermenu__wrap {
    margin-bottom: 12px;
  }
}
.filtermenu--mod {
  margin-bottom: 64px;
}
@media (max-width: 768px) {
  .filtermenu--mod {
    margin-bottom: 48px;
  }
}

/*----------------------------------filtermenu--------------------------------*/
/*----------------------------------accordion--------------------------------*/
.accordion__block {
  margin-bottom: 16px;
  background-color: var(--color-white);
  border-radius: 24px;
}
.accordion__summary {
  list-style: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  position: relative;
  width: 100%;
  background-color: var(--color-white);
  z-index: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 24px;
  border-radius: 24px;
}
.accordion__summary span {
  width: 36px;
  height: 36px;
  background-color: inherit;
  border: 1px solid var(--color-black);
  display: block;
  border-radius: 50%;
  position: relative;
  transition: transform 0.2s ease-out;
  flex: none;
}
.accordion__summary span::after, .accordion__summary span::before {
  position: absolute;
  content: "";
  width: 15px;
  height: 2px;
  top: 50%;
  background-color: var(--color-black);
  transition: transform 0.2s ease-out;
}
.accordion__summary span::after {
  left: 10px;
}
.accordion__summary span::before {
  left: 10px;
  transform: rotate(90deg);
}
.accordion__details[open] .accordion__summary span {
  border: 1px solid var(--color-secondary);
}
.accordion__details[open] .accordion__summary span::after {
  background-color: var(--color-secondary);
}
.accordion__details[open] .accordion__summary span::before {
  transform: rotate(0deg);
  background-color: var(--color-secondary);
}
.accordion__content {
  display: grid;
  grid-template-rows: 0fr;
  transition-duration: 0.5s;
  background-color: var(--color-white);
  opacity: 0;
  padding-right: 20px;
  padding: 0px 24px;
  border-bottom-right-radius: 24px;
  border-bottom-left-radius: 24px;
}
.accordion__content_body {
  overflow: hidden;
  font-weight: 600;
  font-family: var(--font-family-m);
  line-height: 140%;
}
.accordion__details[open] + .accordion__content {
  grid-template-rows: 1fr;
  opacity: 1;
  padding-top: -24px;
  padding-bottom: 24px;
}

/*----------------------------------accordion--------------------------------*/
/*----------------------------------card--------------------------------*/
.card {
  height: 100%;
  display: grid;
}
.card__inner {
  position: relative;
  margin-bottom: 24px;
}
.card__photo {
  position: relative;
  background-color: var(--color-bg);
  border-radius: 200px 70px 250px 200px;
  overflow: hidden;
  height: 100%;
  padding-top: 280px;
  margin-bottom: 24px;
}
.card__photo img {
  max-width: 230px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 768px) {
  .card__photo img {
    max-width: 185px;
  }
}
@media (hover: hover) {
  .card__photo:hover .arrow__pulse {
    opacity: 1;
  }
  .card__photo:hover .arrow__pulse::after {
    animation: pulse 2s ease-in-out infinite;
  }
}
@media (max-width: 768px) {
  .card__photo {
    padding-top: 200px;
  }
}
.card__link {
  position: absolute;
  bottom: 0;
  left: 0;
}
.card__name {
  margin-bottom: 10px;
  transition: all 0.3s;
}
@media (hover: hover) {
  .card__name:hover {
    color: var(--color-primary);
    transition: all 0.3s;
  }
}
.card__post {
  color: var(--color-primary);
  margin-bottom: 10px;
  font-size: 13px;
}
.card__experience {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
  font-size: clamp(14px, 1.0416666667vw, 15px);
  font-weight: 600;
  line-height: 141%;
  font-family: var(--font-family-m);
}
.card__description {
  font-size: clamp(14px, 1.0416666667vw, 15px);
  font-weight: 500;
}

/*----------------------------------card--------------------------------*/
/*---------------------------------------sliders----------------------------*/
.two-slide,
.slider,
.one-slide {
  overflow: hidden;
}

.two-slide .swiper-wrapper {
  display: flex;
  align-items: stretch;
}
.two-slide .swiper-slide {
  height: auto;
}

.slider .swiper-wrapper {
  display: flex;
  align-items: stretch;
}
.slider .swiper-slide {
  height: auto;
}
.slider .partners__slide {
  display: flex;
  align-items: center;
  gap: 10px;
}
@media (max-width: 992px) {
  .slider .partners__slide img {
    max-width: 130px;
    width: 100%;
  }
}

.slider__wrap {
  position: relative;
}
@media (max-width: 768px) {
  .slider__wrap {
    margin-bottom: 20px;
  }
}

.equipment-slider .swiper-wrapper {
  display: flex;
  align-items: stretch;
}

.equipment-slider .swiper-slide {
  height: auto;
}

.slider__buttons {
  width: 120px;
  position: absolute;
  top: -60px;
  right: 0;
}
@media (max-width: 768px) {
  .slider__buttons {
    display: none;
  }
}

.slider__wrap .swiper-button-next,
.slider__wrap .swiper-button-prev {
  top: 0;
  background-color: var(--color-white);
  border: 1px solid var(--color-black-text);
  border-radius: 50%;
  width: 48px;
  height: 48px;
}

.slider__wrap .swiper-button-next {
  right: 0;
}

.slider__wrap .swiper-button-prev {
  transform: rotate(180deg);
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

.swiper-pagination-bullet {
  opacity: 1;
  background-color: var(--color-white);
  transition: All 0.5s ease 0s;
  width: 16px;
  height: 16px;
  scale: 0.7;
}

.swiper-pagination-bullet-active {
  width: 16px;
  height: 16px;
  scale: 1.2;
  background-color: var(--color-brown-light);
  background-color: #7B614D;
}

/*---------------------------------------sliders----------------------------*/
/*----------------------------------social--------------------------------*/
.social__content--mod .social__body {
  background: linear-gradient(131deg, #487be8 0%, #59aaec 100%);
  display: block;
  position: relative;
  padding: 48px 50px;
}
@media (max-width: 768px) {
  .social__content--mod .social__body {
    padding: 32px 16px;
  }
}
.social__content--mod .social__photo {
  position: absolute;
  bottom: 60%;
  right: 20px;
}
@media (max-width: 992px) {
  .social__content--mod .social__photo {
    bottom: 20px;
  }
}
.social__content--mod .social__link {
  padding: 8px 12px;
}
@media (max-width: 768px) {
  .social__content--mod .social__link:nth-child(2) {
    max-width: 120px;
  }
}
@media (max-width: 768px) {
  .social__content--mod .social__link:nth-child(3) {
    max-width: 100px;
    order: -1;
  }
}
@media (max-width: 768px) {
  .social__content--mod .social__link:nth-child(4) {
    max-width: 100px;
  }
}
@media (max-width: 768px) {
  .social__content--mod .social__link {
    max-width: 180px;
  }
}
.social__content--mod .social__info p {
  max-width: 100%;
}
.social__body {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px 70px;
  background: linear-gradient(131deg, #1d90ef 0%, #7b5fe3 100%);
  border-radius: var(--border-radius);
  padding: 20px 20px 0px 20px;
}
@media (max-width: 992px) {
  .social__body {
    border-radius: 32px;
    flex-wrap: wrap;
  }
}
@media (max-width: 768px) {
  .social__body {
    padding: 24px 16px 0px 16px;
  }
}
.social__info {
  color: var(--color-white);
  flex-basis: 835px;
  margin-bottom: 10px;
}
.social__info p {
  font-weight: 600;
  line-height: 141%;
  font-family: var(--font-family-m);
  max-width: 700px;
  margin-bottom: 42px;
}
@media (max-width: 768px) {
  .social__info p {
    margin-bottom: 16px;
  }
}
.social__links {
  display: flex;
  align-items: stretch;
  gap: 8px;
  flex-wrap: wrap;
}
.social__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 7px;
  font-size: 13px;
  background-color: var(--color-white);
  padding: 14px;
  color: var(--color-black-text);
  border-radius: 16px;
  transition: all 0.3s;
}
@media (hover: hover) {
  .social__link:hover {
    transition: all 0.3s;
    background-color: var(--color-primary-hover);
  }
}
@media (max-width: 768px) {
  .social__link {
    padding: 8px;
    border-radius: 12px;
  }
}
.social__photo {
  margin-top: -65px;
}
@media (max-width: 992px) {
  .social__photo {
    margin-top: -20px;
  }
}
@media (max-width: 768px) {
  .social__photo {
    max-width: 170px;
    margin-top: -80px;
    margin-left: auto;
  }
}

/*----------------------------------social--------------------------------*/
/*----------------------------------news--------------------------------*/
/*----------------------------------news--------------------------------*/
/*----------------------------------contacts--------------------------------*/
/*----------------------------------contacts--------------------------------*/
/*----------------------------------select--------------------------------*/
.dropdown {
  position: relative;
}
.dropdown__button {
  position: relative;
  display: block;
  text-align: left;
  border-radius: 5px;
  font-weight: 700;
  padding: 0px 20px 0px 0px;
  background-color: inherit;
  color: var(--color-primary);
}
.dropdown__button::after, .dropdown__button::before {
  content: "";
  position: absolute;
  top: 35%;
  right: 0px;
  transform: translateY(-50%);
  width: 2px;
  height: 8px;
  border-radius: 2px;
  background-color: var(--color-primary);
  pointer-events: none;
  transform: rotate(45deg);
}
.dropdown__button::before {
  right: 5px;
  transform: rotate(-45deg);
}
.dropdown__list {
  display: none;
  position: absolute;
  overflow: hidden;
  width: 200px;
  left: 0;
  top: 20px;
  z-index: 1;
  background: #F0F5F6;
  padding: 16px;
  border-radius: 10px;
}
.dropdown__list--active {
  display: block;
}
.dropdown__list_item {
  border-bottom: 0;
  cursor: pointer;
  font-size: clamp(11px, 0.9027777778vw, 13px);
}
.dropdown__list_item:not(:last-child) {
  margin-bottom: 10px;
}
.dropdown__list_item:hover {
  color: var(--color-primary);
}
.dropdown__input_hidden {
  display: none;
}

/*----------------------------------select--------------------------------*/
/*----------------------------------reviews--------------------------------*/
.reviews__content {
  position: relative;
}
.reviews__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}
.reviews__buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}
@media (max-width: 768px) {
  .reviews__buttons {
    width: 100%;
  }
  .reviews__buttons .button {
    padding: 11px 16px;
  }
}

.review {
  border-radius: var(--border-radius-small);
  background-color: var(--color-white);
  padding: 32px;
}
.review:not(:last-child) {
  margin-bottom: 16px;
}
.review header {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 10px;
}
.review header time {
  color: var(--color-primary);
  font-size: 13px;
}
.review blockquote p {
  font-family: var(--font-family-m);
  line-height: 141%;
}
@media (max-width: 768px) {
  .review {
    padding: 16px;
    border-radius: 32px;
  }
}

/*----------------------------------reviews--------------------------------*/
/*---------------------------------------tabs----------------------------*/
.tabs {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
}

.tab-labels {
  display: flex;
  justify-content: space-between;
  margin-bottom: 48px;
  gap: 16px;
}
@media (max-width: 768px) {
  .tab-labels {
    flex-wrap: wrap;
  }
}
.tab-labels__inner {
  display: flex;
  align-items: center;
  gap: 15px 30px;
}
.tab-labels__yandex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  background-color: var(--color-white);
  border-radius: var(--border-radius-small);
  padding: 8px 24px 8px 8px;
}
.tab-labels__yandex_info p {
  margin-bottom: 10px;
}
@media (max-width: 768px) {
  .tab-labels__yandex_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .tab-labels__yandex_info p {
    margin-bottom: 0px;
    margin-right: 5px;
  }
}
@media (max-width: 768px) {
  .tab-labels__yandex > img {
    width: 24px;
  }
}

.tab-label {
  cursor: pointer;
  color: #D6D6D6;
  font-weight: 700;
  font-size: clamp(24px, 2.7777777778vw, 40px);
  line-height: 120%;
}

.tab-content {
  display: none;
}

.tab-content .easy__info {
  flex-basis: 1280px;
}

.tab-content .easy__image {
  flex-basis: 600px;
}

#tab-1:checked ~ .content-1,
#tab-2:checked ~ .content-2 {
  display: block;
}

#tab-1:checked ~ .tab-labels label[for=tab-1],
#tab-2:checked ~ .tab-labels label[for=tab-2] {
  color: var(--color-black-text);
}

input[type=radio] {
  display: none;
}

/*---------------------------------------tabs----------------------------*/
/*----------------------------------procedure--------------------------------*/
/*----------------------------------procedure--------------------------------*/
/*----------------------------------prices-------------------------------*/
/*----------------------------------prices--------------------------------*/
/*----------------------------------footer--------------------------------*/
.footer__wrapper {
  padding: 24px 0px;
}
.footer__logo {
  margin-bottom: 40px;
}
.footer__body {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
@media (max-width: 992px) {
  .footer__body {
    flex-wrap: wrap;
  }
}
@media (max-width: 768px) {
  .footer__body {
    display: block;
  }
}
.footer__block p,
.footer__block address {
  font-weight: 600;
  font-family: var(--font-family-m);
  line-height: 130%;
  font-size: clamp(13px, 1.0416666667vw, 15px);
}
.footer__block:nth-child(3) .footer__list :last-child {
  max-width: 200px;
}
.footer__block:nth-child(3) .footer__list :last-child a {
  text-decoration: underline;
}
.footer__title {
  margin-bottom: 16px;
  position: relative;
  display: inline-block;
}
.footer__title::after {
  position: absolute;
  content: "";
  width: 10px;
  height: 3px;
  top: 50%;
  right: -20px;
  background-color: var(--color-black-text);
  transform: rotate(45deg);
  display: none;
}
@media (max-width: 768px) {
  .footer__title::after {
    display: block;
  }
}
.footer__title::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 3px;
  top: 50%;
  right: -27px;
  background-color: var(--color-black-text);
  transform: rotate(-45deg);
  display: none;
}
@media (max-width: 768px) {
  .footer__title::before {
    display: block;
  }
}
.footer__title.view::after {
  transform: rotate(-45deg);
}
.footer__title.view::before {
  transform: rotate(45deg);
}
.footer__list li {
  margin-bottom: 10px;
  font-weight: 600;
  font-family: var(--font-family-m);
  line-height: 130%;
  font-size: clamp(13px, 1.0416666667vw, 15px);
  transition: all 0.3s;
}
@media (hover: hover) {
  .footer__list li:hover {
    color: var(--color-primary);
  }
}
@media (max-width: 768px) {
  .footer__list {
    display: none;
  }
  .footer__list.view {
    display: block;
  }
}
.footer__tel {
  margin-bottom: 24px;
}
.footer__tel p {
  margin-bottom: 8px;
}
.footer__tel a {
  transition: all 0.3s;
}
@media (hover: hover) {
  .footer__tel a:hover {
    color: var(--color-primary);
  }
}
.footer__row {
  display: flex;
  justify-content: space-between;
  gap: 16px 50px;
}
.footer__row address {
  max-width: 210px;
}
.footer__row a {
  display: flex;
  gap: 10px;
  font-weight: 600;
  font-family: var(--font-family-m);
  line-height: 130%;
  font-size: clamp(13px, 1.0416666667vw, 15px);
  transition: all 0.3s;
}
@media (hover: hover) {
  .footer__row a:hover {
    color: var(--color-primary);
  }
}
.footer__row:not(:last-child) {
  margin-bottom: 24px;
}
@media (max-width: 768px) {
  .footer__row {
    flex-wrap: wrap;
  }
}
.footer__row--mod address img {
  width: 18px;
  height: 20px;
}
.footer__row--mod img {
  width: 20px;
  height: 18px;
}
.footer__box p {
  margin-bottom: 16px;
}
.footer__links {
  display: flex;
  align-items: center;
  gap: 18px;
}
.footer__bottom {
  padding: 40px 16px;
  display: flex;
  gap: 16px 40px;
}
@media (max-width: 768px) {
  .footer__bottom {
    flex-wrap: wrap;
  }
}
.footer__requisites {
  flex-basis: 400px;
  border-right: 1px solid var(--color-bg);
  padding-right: 40px;
}
@media (max-width: 768px) {
  .footer__requisites {
    padding-right: 0px;
    border-right: none;
    border-bottom: 1px solid var(--color-bg);
    padding-bottom: 16px;
  }
}
.footer__requisites h3 {
  margin-bottom: 10px;
}
.footer__requisites p,
.footer__requisites address {
  font-weight: 600;
  font-family: var(--font-family-m);
  line-height: 130%;
}
.footer__requisites_info {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 16px;
}
@media (max-width: 992px) {
  .footer__requisites_info {
    flex-wrap: wrap;
  }
}
.footer__license {
  font-weight: 600;
  font-family: var(--font-family-m);
  line-height: 130%;
  flex-basis: 1000px;
}
.footer__license p:not(:last-child) {
  margin-bottom: 16px;
}
.footer__info {
  font-weight: 600;
  font-family: var(--font-family-m);
  line-height: 130%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px 24px;
}
.footer__info p:first-child {
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .footer__info {
    flex-wrap: wrap;
  }
}

/*----------------------------------footer--------------------------------*/