/*---------------------------------------tabs----------------------------*/
.tabs {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
}

.tab-labels {
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;
  gap: 20px;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: none;
}
.tab-labels::-webkit-scrollbar {
  display: none;
}

.tab-label {
  cursor: pointer;
  font-size: clamp(16px, 1.25vw, 18px);
  line-height: 150%;
  background-color: var(--color-white);
  box-shadow: var(--box-shadow);
  padding: 6px 16px;
  border-radius: 6px;
}

.tab-content {
  display: none;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: none;
}
.tab-content .table tbody td {
  text-align: left;
  border-bottom: 1px solid #EEEEEE;
}
.tab-content .table tbody td:nth-child(2) {
  font-weight: 400;
}
.tab-content .table tbody td:last-child {
  font-weight: 700;
  white-space: nowrap;
}
@media (max-width: 768px) {
  .tab-content .table {
    width: 1000px;
    border-collapse: separate;
  }
}

#tab-1:checked ~ .content-1,
#tab-2:checked ~ .content-2,
#tab-3:checked ~ .content-3,
#tab-4:checked ~ .content-4,
#tab-5:checked ~ .content-5,
#tab-6:checked ~ .content-6,
#tab-7:checked ~ .content-7,
#tab-8:checked ~ .content-8,
#tab-9:checked ~ .content-9,
#tab-10:checked ~ .content-10,
#tab-11:checked ~ .content-11,
#tab-12:checked ~ .content-12,
#tab-13:checked ~ .content-13 {
  display: block;
}

#tab-1:checked ~ .tab-labels label[for=tab-1],
#tab-2:checked ~ .tab-labels label[for=tab-2],
#tab-3:checked ~ .tab-labels label[for=tab-3],
#tab-4:checked ~ .tab-labels label[for=tab-4],
#tab-5:checked ~ .tab-labels label[for=tab-5],
#tab-6:checked ~ .tab-labels label[for=tab-6],
#tab-7:checked ~ .tab-labels label[for=tab-7],
#tab-8:checked ~ .tab-labels label[for=tab-8],
#tab-9:checked ~ .tab-labels label[for=tab-9],
#tab-10:checked ~ .tab-labels label[for=tab-10],
#tab-11:checked ~ .tab-labels label[for=tab-11],
#tab-12:checked ~ .tab-labels label[for=tab-12],
#tab-13:checked ~ .tab-labels label[for=tab-13] {
  color: var(--color-white);
  background-color: var(--color-primary);
}

input[type=radio] {
  display: none;
}

/*---------------------------------------tabs----------------------------*/