/*----------------------------------accordion--------------------------------*/
.accordion {
    &__block {
        margin-bottom: 16px;
        background-color: var(--color-white);
        border-bottom: 1px solid #EEEEEE;
        &:first-child {
            border-top: 1px solid #EEEEEE;
        }
    }
    &__summary {
        list-style: none;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        cursor: pointer; 
        position: relative;
        width: 100%;
        background-color: var(--color-white);
        z-index: 3;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        padding: 24px 24px 24px 0px;
        transition: all 0.5s;
        img {
            transition: all 0.3s;
        }
    }
    &__details[open] img {
        transform: rotate(45deg);
        transition: all 0.3s;
    }
    &__details[open] .accordion__title {
        font-weight: 700;
        transition: all 0.5s;
    }
    &__content {
        display: grid;
        grid-template-rows: 0fr;
        transition-duration: 0.5s;
        background-color: var(--color-white);
        opacity: 0;
        padding-right: 20px;
        padding: 0px 24px 0px 0px;
        &_body {
            overflow: hidden;
            line-height: 140%;
        }
    }
    &__details[open] + &__content {
        grid-template-rows: 1fr;
        opacity: 1;
        padding-top: -24px;
        padding-bottom: 24px;
    }
}

/*----------------------------------accordion--------------------------------*/