/*----------------------------------procedure--------------------------------*/
@use 'mixins' as *;
.advantages {
    &__body {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px 20px;
        padding: 32px 16px;
        @include table {
            flex-wrap: wrap;
        }
    }
    &__block {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        img {
            border-radius: 32px 32px 6px 32px;
            background-color: #76C1E3;
            padding: 10px;
        }
        &:first-child {
            flex-basis: 350px;
            @include mobile {
                flex-basis: 100%;
            }
        }
        &:nth-child(2) {
            img {
                background-color: #6196E5;
            }
        }
        &:nth-child(3) {
            flex-basis: 250px;
            img {
                background-color: #72CBD0;
            }
            @include mobile {
                flex-basis: 100%;
            }
        }
        &:nth-child(4) {
            flex-basis: 350px;
            img {
                background-color: #9B82E7;
            }
            @include mobile {
                flex-basis: 100%;
            }
        }
        p {
            font-weight: 600;
            line-height: 141%;
            font-family: var(--font-family-m);
            @include fluid-text(14, 16);
        }
        @include mobile {
            justify-content: start;
        }
    }
}
/*----------------------------------procedure--------------------------------*/