/*----------------------------------breadcrumbs--------------------------------*/
@use 'mixins' as *;
.breadcrumbs {
    padding: 60px 0px 60px;
    position: relative;
    z-index: 2;
    @include table {
        padding: 60px 0px 0px;
    }
    @include mobile {
        margin-bottom: 40px;
    }
    &__list {
        display: flex;
        align-items: center;
        gap: 5px 15px;
        flex-wrap: wrap;
        @include mobile {
            justify-content: center;
        }
    }
    &__item:not(:last-child){
        position: relative;
        padding-right: 15px;
    }
    &__item:not(:last-child)::after,
    &__item:not(:last-child)::before {
        position: absolute;
        content: '';
        width: 2px;
        height: 8px;
        top: 8px;
        right: 0;
        border-radius: 1px;
        background-color: var(--color-white);
        transform: rotate(45deg);
    }
    &__item:not(:last-child)::after {
        top: 3px;
        right: 0;
        transform: rotate(-45deg);
    }
    &__item {
        font-weight: 600;
        line-height: 133%;
        font-family: var(--font-family-m);
        color: var(--color-black-text);
        &_link {
            transition: all 0.3s;
            @include hover {
                transition: all 0.3s;
                color: var(--color-primary);
            }
        }
        &:last-child {
            color: var(--color-primary);
        }
    }
}
/*----------------------------------breadcrumbs--------------------------------*/