/*----------------------------------breadcrumbs--------------------------------*/
@use 'mixins' as *;
.breadcrumbs {
    margin-top: 150px;
    @include table {
        margin-top: 90px;
    }
    &__list {
        display: flex;
        align-items: center;
        gap: 5px 10px;
        flex-wrap: wrap;
    }
    &__item:not(:last-child){
        position: relative;
        padding-right: 10px;
    }
    &__item:not(:last-child)::after {
        position: absolute;
        content: '/';
        width: 1px;
        height: 15px;
        top: 0;
        right: 0;
        border-radius: 1px;
        transform: rotate(15deg);
    }
    &__item {
        font-weight: 600;
        line-height: 133%;
        font-family: var(--font-family-m);
        color: var(--color-black-text);
        &_link {
            transition: all 0.3s;
            @include hover {
                transition: all 0.3s;
                color: var(--color-primary);
            }
        }
        &:last-child {
            color: var(--color-primary);
        }
    }
}
/*----------------------------------breadcrumbs--------------------------------*/