/*----------------------------------callback--------------------------------*/
@use 'mixins' as *;
.callback {
    padding: 64px 0px;
    @include mobile {
        padding: 30px 0px;
    }
    &__wrapper {
        position: relative;
        border-radius: var(--border-radius);
        @include mobile {
            border-radius: 32px;
            background: linear-gradient(206deg, #009caa 7.83%, #a9dcde 74.83%, #73becd 96.04%);
            border-radius: 32px;
        }
    }
    &__content {
        &--mod {
            .callback__info {
                p {
                    margin-bottom: 24px;
                    font-weight: 600;
                    font-family: var(--font-family-m);
                    line-height: 140%;
                    @include fluid-text(16, 17);
                }
            }
            .callback__photo {
                margin-top: 40px;
                @include mobile {
                    margin-top: 30px;
                }
            }
            .callback__bg {
                img {
                    @include mobile {
                        display: none;
                    }
                }
            }
            .callback__wrapper {
                overflow: hidden;
            }
        }
    }
    &__body {
        position: relative;
        z-index: 2;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px 200px;
        padding: 0px 20px;
        @include table {
            gap: 20px;
        }
        @include mobile {
            flex-wrap: wrap;
            padding: 20px 20px 0px 20px;
        }
    }
    &__info {
        flex-basis: 550px;
        color: var(--color-white);
        p {
            margin-bottom: 24px;
            font-weight: 600;
            font-family: var(--font-family-m);
            line-height: 140%;
            @include fluid-text(18, 20);
        }
    }
    &__photo {
        flex-basis: 340px;
        margin-top: -50px;
        @include mobile {
            margin-top: 0px;
        }
    }
    &__bg {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        img {
            border-radius: var(--border-radius);
            @include mobile {
                border-radius: 32px;
            }
        }
    }
}
/*----------------------------------callback--------------------------------*/