/*----------------------------------about--------------------------------*/
@use 'mixins' as *;
.certificates {
    &__body {
        position: relative;
        padding-bottom: 40px;
        .swiper-button-next,
        .swiper-button-prev {
           top: 20px;
           background-color: var(--color-primary);
           border: 1px solid var(--color-primary);
           border-radius: 10px;
           width: 50px;
           height: 50px; 
           padding: 15px;
        }
    }
    padding-bottom: 120px;
}
.slider {
    &__image {
        img {
            border: 1px solid #D7DEE8;
            border-radius: var(--border-radius-small);
        }
    }
    &__buttons {
        width: 140px;
        position: absolute;
        bottom: 0;
        left: 0;
    }

}

/*----------------------------------about--------------------------------*/