/*----------------------------------contacts--------------------------------*/
@use 'mixins' as *;
.contacts {
    &__content {
        position: relative;
    }
    &__map {
        iframe {
            border-radius: var(--border-radius-small);
        }
        @include mobile {
            margin-bottom: 8px;
        }
    }
    &__block {
        border-radius: 40px 40px 40px 16px;
        background-color: var(--color-white);
        padding: 32px;
        max-width: 390px;
        position: absolute;
        top: 150px;
        right: 20%;
        box-shadow: 0 0 16px 0 rgba(17, 31, 57, 0.1);
        a {
            margin-bottom: 16px;
            font-size: 13px;
            @include mobile {
                margin-bottom: 8px;
            }
        }
        address {
            display: flex;
            align-items: center;
            gap: 10px;
            margin-bottom: 16px;
            font-weight: 600;
            font-family: var(--font-family-m);
            line-height: 133%;
            @include mobile {
                margin-bottom: 8px;
                align-items: start;
            }
        }
        h3 {
            margin-bottom: 5px;
            line-height: 147%;
        }
        p {
            font-weight: 600;
            font-family: var(--font-family-m);
            line-height: 133%;
        }
        @include mobile {
            position: static;
            max-width: 100%;
            padding: 24px;
        }
    }
}

/*----------------------------------contacts--------------------------------*/