/*----------------------------------filtermenu--------------------------------*/
@use 'mixins' as *;

.diagnostics {
    &__body {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 24px;
        @include desktop {
            gap: 16px;
        }
        @include table {
            grid-template-columns: repeat(3, 1fr);
        }
        @include mobile {
            display: flex;
            flex-direction: column;
        }
    }
    &__block {
        height: 100%;
        span {
            font-weight: 700;
        }
        &:nth-child(1) {
            @include mobile {
                grid-column: 1 / 3;
            }
        }
        &:nth-child(2) {
            margin-right: -15px;
            @include table {
                margin-right: 0px;
            }
        }
        &:nth-child(3) {
            padding-left: 20px;
            padding-right: 60px;
            @include table {
                padding-left: 0px;
                padding-right: 0px;
            }
        }
        &:nth-child(4) {
            margin-left: -55px;
            @include table {
                margin-left: 0px;
                grid-column: 1 / 3;
            }
        }
        &:nth-child(5) {
            grid-row: 2 / 3;
            grid-column: 1 / 2;
            margin-top: -45px;
            @include table {
                margin-top: 0px;
            }
        }
        &:nth-child(6) {
            grid-row: 2 / 3;
            grid-column: 2 / 4;
            padding-right: 110px;
            @include table {
                padding-right: 0px;
            }
        }
        &:nth-child(7) {
            grid-column: 4 / 5;
            margin-left: -110px;
            @include table {
                grid-column: 3 / 4;
                margin-left: 0px;
            }
        }
        img {
            border-radius: var(--border-radius-small);
            @include table {
                border-radius: 24px;
            }
        }
    }
}


/*----------------------------------filtermenu--------------------------------*/