/*----------------------------------experts--------------------------------*/
@use 'mixins' as *;
.experts {
    &__body {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px 150px;
        @include table {
            gap: 10px 100px;
        }
        @include mobile {
            flex-wrap: wrap;
            justify-content: center;
        }
    }
    &__container {
        min-width: 0;
        flex-basis: 840px;
        position: relative;
        padding-top: 70px;
    }
    &__button {
        max-width: 150px;
        margin-bottom: 24px;
        position: absolute;
        top: 0;
        @include mobile {
            max-width: 100%;
            width: 100%;
            position: static;
            margin-bottom: 0px;
        }
    }
}
.expert {
    flex-basis: 424px;
    position: relative;
    &__play {
        position: absolute;
        top: 30px;
        right: -110px;
        background-color: var(--color-white);
        border-radius: 50%;
        svg {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        @include table {
            width: 150px;
        }
        @include mobile {
            width: 103px;
            top: 85%;
            right: 0;
            svg {
                width: 30px;
            }
        }
    }
    img {
        border-radius: var(--border-radius-small);
        width: 100%;
    }
}

/*----------------------------------experts--------------------------------*/