/*----------------------------------footer--------------------------------*/
@use 'mixins' as *;
.footer {
    &__wrapper {
        padding: 24px 0px;
    }
    &__logo {
        margin-bottom: 40px;
    }
    &__body {
        display: flex;
        justify-content: space-between;
        gap: 10px;
        @include table {
            flex-wrap: wrap;
        }
        @include mobile {
            display: block;
        }
    }
    &__block {
        p,
        address {
            font-weight: 600;
            font-family: var(--font-family-m);
            line-height: 130%;
            @include fluid-text(13, 15);
        }
        &:nth-child(3) {
            .footer__list {
                & :last-child {
                    max-width: 200px;
                    a {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
    &__title {
        margin-bottom: 16px;
        position: relative;
        display: inline-block;
        &::after {
            position: absolute;
            content: '';
            width: 10px;
            height: 3px;
            top: 50%;
            right: -20px;
            background-color: var(--color-black-text);
            transform: rotate(45deg);
            display: none;
            @include mobile {
                display: block;
            }
        }
        &::before {
            position: absolute;
            content: '';
            width: 10px;
            height: 3px;
            top: 50%;
            right: -27px;
            background-color: var(--color-black-text);
            transform: rotate(-45deg);
            display: none;
            @include mobile {
                display: block;
            }
        }
        &.view {
            &::after {
                transform: rotate(-45deg);
            }
            &::before {
                transform: rotate(45deg);
            }
        }
    }
    &__list {
        li {
            margin-bottom: 10px;
            font-weight: 600;
            font-family: var(--font-family-m);
            line-height: 130%;
            @include fluid-text(13, 15);
            transition: all 0.3s;
            @include hover {
                color: var(--color-primary);
            }
        }
        @include mobile {
            display: none;
            &.view {
                display: block;
            }
        }
    }
    &__tel {
       margin-bottom: 24px;
       p {
          margin-bottom: 8px;
       }
       a {
        transition: all 0.3s;
        @include hover {
            color: var(--color-primary);
        }
       }
    }
    &__row {
        display: flex;
        justify-content: space-between;
        gap: 16px 50px;
        address {
            max-width: 210px;
        }
        a {
            display: flex;
            gap: 10px;
            font-weight: 600;
            font-family: var(--font-family-m);
            line-height: 130%;
            @include fluid-text(13, 15);
            transition: all 0.3s;
            @include hover {
                color: var(--color-primary);
            }
        }
        &:not(:last-child) {
            margin-bottom: 24px;
        }
        @include mobile {
            flex-wrap: wrap;
        }
        &--mod {
            address {
                img {
                    width: 18px;
                    height: 20px;
                }
            }
            img {
                width: 20px;
                height: 18px;
            }
        }
    }
    &__box {
        p {
            margin-bottom: 16px;
        }
    }
    &__links {
        display: flex;
        align-items: center;
        gap: 18px;
    }

    &__bottom {
        padding: 40px 16px;
        display: flex;
        gap: 16px 40px;
        @include mobile {
            flex-wrap: wrap;
        }
    }
    &__requisites {
        flex-basis: 400px;
        border-right: 1px solid var(--color-bg);
        padding-right: 40px;
        @include mobile {
            padding-right: 0px;
            border-right: none;
            border-bottom: 1px solid var(--color-bg);
            padding-bottom: 16px;
        }
        h3 {
            margin-bottom: 10px;
        }
        p,
        address {
            font-weight: 600;
            font-family: var(--font-family-m);
            line-height: 130%;
        }
        &_info {
            display: flex;
            align-items: center;
            gap: 12px;
            margin-top: 16px;
            @include table {
                flex-wrap: wrap;
            }
        }
    }
    &__license {
        font-weight: 600;
        font-family: var(--font-family-m);
        line-height: 130%;
        flex-basis: 1000px;
        p {
            &:not(:last-child) {
                margin-bottom: 16px;
            }
        }
    }
    &__info {
        font-weight: 600;
        font-family: var(--font-family-m);
        line-height: 130%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px 24px;
        p {
            &:first-child {
                text-transform: uppercase;
            }
        }
        @include mobile {
            flex-wrap: wrap;
        }
    }
}


/*----------------------------------footer--------------------------------*/