/*----------------------------------footer--------------------------------*/
@use 'mixins' as *;
.footer {
    background-color: #313131;
    color: var(--color-white);
    padding-top: 80px;
    @include mobile {
        padding-top: 40px;
    }
    &__wrapper {
        padding: 24px 0px;
    }
    &__logo {
        margin-bottom: 40px;
    }
    &__body {
        display: flex;
        justify-content: space-between;
        gap: 40px 10px;
        @include table {
            flex-wrap: wrap;
        }
    }
    &__block {
        address {
            margin-bottom: 15px;
        }
        &_tel {
            font-weight: 700;
            @include fluid-text(14, 20);
            margin-bottom: 15px;
        }
        &_email {
            text-decoration: underline;
            color: var(--color-primary);
            margin-bottom: 15px;
        }
        .messengers {
            justify-content: start;
            margin-bottom: 10px;
            a {
                &:first-child {
                    border: 1px solid #80ABFF;
                }
                &:nth-child(2) {
                    border: 1px solid #39E8DE;
                }
            }
        }
        &:first-child {
            @include mobile {
                display: flex;
                justify-content: space-between;
                gap: 10px;
                flex-wrap: wrap;
                flex-basis: 100%;
                .footer__logo {
                    flex-basis: 100%;
                    justify-content: center;
                }
            }
        }
        &:nth-child(2) {
            @include mobile {
                width: 48%;
            }
        }
        &:nth-child(3) {
            @include mobile {
                width: 44%;
            }
        }
    }
    &__title {
        margin-bottom: 20px;
        font-weight: 700;
        line-height: 150%;
        @include fluid-text(14, 18);
    }
    &__list {
        li {
            margin-bottom: 10px;
            font-weight: 500;
            line-height: 150%;
            @include fluid-text(14, 18);
            transition: all 0.3s;
            @include hover {
                color: var(--color-primary);
                text-decoration: underline;
            }
        }
    }
    &__bottom {
        padding: 40px 16px;
        display: flex;
        justify-content: space-between;
        gap: 16px 40px;
        @include mobile {
            flex-wrap: wrap;
            justify-content: center;
        }
        a {
            text-decoration: underline;
        }
    }

}


/*----------------------------------footer--------------------------------*/