/*----------------------------------global--------------------------------*/
@use 'mixins' as *;
html {
    scroll-padding-top: 100px;
}
body { 
    font-family: var(--font-base); 
    @include fluid-text(14, 18);
    font-weight: 400; 
    color: var(--color-black); 
    background: var(--color-white);
    line-height: 120%;
}
h2 {
    font-family: var(--font-unbounded);
    font-weight: 700;
    @include fluid-text(24, 40);
    text-align: center;
    line-height: 140%;
    margin-bottom: 40px;
}
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
.main {
    flex: 1 1 auto;
}
._container {
    max-width: var(--container-width);
    margin: 0 auto;
    padding: 0px 20px;
}
section {
    padding: 60px 0px;
    @include mobile {
        padding: 30px 0px;
    }
}
._ibg {
    position: relative;
    img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
    }
}
.button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    padding: 18px 24px;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.3s;
    width: 100%;
    text-align: center;
    white-space: nowrap;
    background-color: var(--color-primary);
    color: var(--color-white);
    transition: all 0.3s;
    border: 1px solid var(--color-primary);
    font-weight: 500;
    svg {
        transition: all 0.3s;
    }
    @include hover {
        background-color: var(--color-white);
        color: var(--color-primary);
        svg {
            transform: translateX(5px);
            transition: all 0.3s;
        }
        svg path {
            stroke: var(--color-primary);
            transition: all 0.3s;
        }
    }
    @include mobile {
        padding: 16px;
    }
}
.messengers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    a {
        border-radius: 10px;
        padding: 10px;
        border: 1px solid var(--color-white);
        transition: all 0.3s;
        &:first-child {
            background-color: #80ABFF;
            transition: all 0.3s;
        }
        &:last-child {
            background-color: #39E8DE;
            transition: all 0.3s;
        }
        @include hover {
            background-color: var(--color-white);
            &:first-child {
                border: 1px solid #80ABFF;
                svg path {
                    fill: #80ABFF;
                }
            }
            &:last-child {
                border: 1px solid #39E8DE;
                svg path {
                    fill: #39E8DE;
                }
            }
        }
    }
    @include mobile {
        justify-content: center;
        width: 100%;
    }
}
.block-images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    &__img {
        img {
            width: 100%;
            height: 100%;
            border-radius: var(--border-radius-small);
        }
        &:first-child {
            grid-row: 1 / 3;
            @include mobile {
                height: 270px;
            }
        }
        &:nth-child(2) {
            height: 200px;
            @include mobile {
                height: 100px;
            }
        }
        &:nth-child(3) {
            height: 430px;
            @include mobile {
                height: 147px;
            }
        }
    }
    @include table {
        gap: 20px;
    }
}
.list-mark {
    ul {
        li {
            margin-bottom: 12px;
            padding-left: 40px;
            position: relative;
            &::before,
            &::after {
                position: absolute;
                content: '';
                width: 2px;
                height: 10px;
                top: 5px;
                left: 20px;
                background-color: var(--color-primary);
                transform: rotate(45deg);
            }
            &::before {
                width: 2px;
                height: 6px;
                top: 8px;
                left: 15px;
                transform: rotate(-45deg);
            }
        }
        margin-bottom: 40px;
    }
}
.list-number {
    ol {
        margin-left: 20px;
        li {
            margin-bottom: 12px;
            &::marker {
                color: var(--color-primary);
                font-weight: 600;
            }
        }
    }
}
/*----------------------------------global--------------------------------*/