/*----------------------------------global--------------------------------*/
@use 'mixins' as *;
body.lock {
    overflow: hidden;
}
html {
    scroll-padding-top: 100px;
}
body { 
    font-family: var(--font-family-base); 
    @include fluid-text(14, 17);
    font-weight: 700; 
    color: var(--color-black-text); 
    background: var(--color-white);
}
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: hidden;
}
.main {
    flex: 1 1 auto;
}
._container {
    max-width: var(--container-width);
    margin: 0 auto;
    padding: 0px 16px;
}
section {
    padding: 50px 0px;
    @include mobile {
        padding: 30px 0px;
    }
}
.section-color {
    background-color: var(--color-bg);
}
._ibg {
    position: relative;
    img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
    }
}
.title {
    @include fluid-text(26, 40);
    line-height: 130%;
    color: var(--color-black);
    margin-bottom: 32px;
    &--mod {
        color: var(--color-white);
        margin-bottom: 24px;
    }
}
.subtitle {
    @include fluid-text(18, 32);
    line-height: 100%;
    color: var(--color-white);
}
.text {
    @include fluid-text(14, 18);
    color: var(--color-black);
    line-height: 100%;
}
.button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    padding: 11px 24px;
    border-radius: 16px;
    cursor: pointer;
    transition: all 0.3s;
    width: 100%;
    text-align: center;
    @include fluid-text(12, 13);
    white-space: nowrap;
}
.button-outline {
    border: 1px solid var(--color-primary);
    background-color: var(--color-white);
    border-radius: var(--border-radius-small);
    color: var(--color-primary);
    transition: all 0.3s;
    svg {
        transition: all 0.3s;
    }
    @include hover {
        background-color: var(--color-primary-hover);
        svg {
            transform: translateX(5px);
            transition: all 0.3s;
        }
    }
    &:active {
        border: 1px solid var(--color-primary-hover);
        color: var(--color-primary-disabled);
        svg {
            transition: all 0.3s;
            opacity: 0.5;
        }
    }
    @include mobile {
        justify-content: center;
    }
}
.button-filled-primary {
    background-color: var(--color-primary);
    color: var(--color-white);
    transition: all 0.3s;
    svg {
        transition: all 0.3s;
    }
    @include hover {
        background-color: var(--color-primary-hover);
        color: var(--color-primary);
        svg {
            transform: translateX(5px);
            transition: all 0.3s;
        }
        svg path {
            stroke: var(--color-primary);
            transition: all 0.3s;
        }
    }
    &:active {
        background-color: var(--color-primary-disabled);
        color: var(--color-white);
        transition: all 0.3s;
        svg path {
            stroke: var(--color-white);
            transition: all 0.3s;
        }
    }
}
.button-filled-secondary {
    background-color: var(--color-secondary);
    color: var(--color-white);
    transition: all 0.3s;
    @include hover {
        background-color: var(--color-secondary-hover);
        color: var(--color-secondary);
        transition: all 0.3s;
    }
    &:active {
        background-color: var(--color-secondary-disabled);
        color: var(--color-white);
        transition: all 0.3s;
    }
}
.button-white {
    background-color: var(--color-white);
    color: var(--color-black-text);
    border: 1px solid var(--color-white);
    transition: all 0.3s;
    svg {
        transition: all 0.3s;
    }
    @include hover {
        color: var(--color-white);
        background-color: rgba(255, 255, 255, 0.1);
        svg {
            transform: translateX(5px);
            transition: all 0.3s;
        }
        svg path {
            transition: all 0.3s;
        }
        svg path {
            stroke: var(--color-white);
            transition: all 0.3s;
        }
    }
    &:active {
        background-color: rgba(255, 255, 255, 0.5);
        color: var(--color-primary);
        transition: all 0.3s;
        svg path {
            stroke: var(--color-primary);
            transition: all 0.3s;
        }
    }
}
.right__button {
    display: inline-grid;
    justify-content: end;
    width: 100%;
    @include mobile {
        display: flex;
    }
}
.button-more {
    background-color: inherit;
    color: var(--color-primary);
    font-weight: 700;
    &.view {
        display: none;
    }
}
.content-more {
    display: none;
    &.view {
        display: block;
    }
}
.video {
    height: 100%;
    width: 100%;
    p {
        font-weight: 600;
        font-family: var(--font-family-m);
        line-height: 141%;
        padding: 16px;
        a {
            color: var(--color-primary);
            display: inline-block;
            position: relative;
            &::after {
                position: absolute;
                content: '';
                width: 100%;
                height: 1px;
                left: 0;
                bottom: 0;
                transition: transform 0.3s ease;
                transform: scaleX(0);
                background: var(--color-primary);
            }
            @include hover {
                &::after {
                    transform: scaleX(1);
                }
            }
        }
    }
    &__link {
        position: relative;
        display: inline-block;
        &_play {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: rgba(255, 255, 255, 0.1);
            border-radius: 50%;
            border: 1px solid var(--color-white);
            padding: 20px 22px;
        }
        img {
            width: 100%;
            border-radius: 24px;
        }
    }
}
.arrow__pulse {
    position: absolute;
    top: 25px;
    right: 35px;
    border: 3px solid var(--color-primary);
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    opacity: 0;
    transition: all 0.5s;
    &::after {
       position: absolute;
       content: '';
       width: 64px;
       height: 64px;
       top: 50%;
       left: 50%;
       transform: translate(-50%, -50%);
       background-color: inherit;
       border: 1px solid var(--color-primary);
       border-radius: 50%;
       opacity: 0;
       @include mobile {
         opacity: 1;
      }
    }
    @keyframes pulse {
        0% {
         transform: translate(-50%, -50%) scale(0.5);
         opacity: 0;
        }
        50% {
            opacity: 1;
            transform: translate(-50%, -50%) scale(1.1);
        }
        100% {
         transform: translate(-50%, -50%) scale(0.5);
         opacity: 0;
        }
    }
    @include mobile {
       opacity: 1;
    }
}
.block-row {
    background: linear-gradient(129deg, #f85077 0%, #af47d1 100%);
    padding: 38px 54px;
    border-radius: var(--border-radius-small);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    @include table {
        flex-wrap: wrap;
        padding: 32px 16px;
        border-radius: 32px;
    }
    &__item {
        &:first-child {
            flex-basis: 525px;
        }
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 24px;
        color: var(--color-white);
        img {
            border-radius: 50%;
            background: linear-gradient(45deg, #c3f0f3 32.68%, #a9d9e6 100%);
            border: 1px solid var(--color-white);
        }
        &_col {
            span {
                margin-bottom: 10px;
                display: block;
                @include fluid-text(12, 17);
            }
            p {
                font-family: var(--font-family-m);
            }
        }
        @include mobile {
            gap: 10px;
        }
    }
    &__button {
        @include mobile {
            width: 100%;
        }
    }
    &--mod {
        margin-bottom: 64px;
        background: linear-gradient(90deg, #56db98 0%, #63caa3 100%);
        padding: 10px 60px;
        .block-row__item {
            justify-content: start;
            &:first-child {
                img {
                    background: inherit;
                    border: none;
                    border-radius: 0;
                }
            }
        }
        @include table {
            padding: 20px;
        }
    }
}
.block {
    position: relative;
    img {
        border-radius: 24px;
        width: 100%;
    }
    span {
        position: absolute;
        left: 16px;
        bottom: 16px;
        font-weight: 400;
        font-size: 13px;
        line-height: 138%;
        box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.1);
        background-color: var(--color-white);
        padding: 13px 4px 13px 24px;
        border-radius: var(--border-radius-small);
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0px;
        transition: all 0.3s ease-in-out; 
        margin-right: 16px;
        svg {
            opacity: 0;
            transform: translateX(-20px); 
            transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out, margin-left 0.3s ease-in-out; /* Плавное появление и движение */
        }
        @include mobile {
            padding: 6px 16px;
            display: inline;
            border-radius: 16px;
        }
    }
    @include hover {
        color: var(--color-primary);
        span {
            gap: 20px; 
            padding: 13px 20px 13px 24px;
        }
        svg {
            opacity: 1;
            transform: translateX(0);
            transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
        }
    }
}
.footnote {
    margin-left: 40px;
    font-weight: 500;
    font-size: 13px;
    line-height: 138%;
    color: var(--color-black);
    @include mobile {
        margin-left: 0px;
    }
}
/*----------------------------------global--------------------------------*/


.list-links {
    padding-top: 50px;
    .menu__link {
        text-decoration: none;
        color: var(--color-black);
        display: block;
        margin-bottom: 10px;
        text-align: center;
    }
}