/*----------------------------------header--------------------------------*/
@use 'mixins' as *;
.header {
    position: fixed;
    width: 100%;
    background-color: var(--color-white);
    padding-bottom: 10px;
    z-index: 999;
    @include table {
        padding-bottom: 0px;
    }
    &__content {
        position: relative;
    }
    &__body {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 16px;
        padding: 10px 0px;
        margin-bottom: 15px;
        @include table {
            margin-bottom: 0px;
        }
    }
    &__logo {
        z-index: 3; 
        @include mobile {
            max-width: 130px;
        }
    }
    &__links {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px 60px;
        @include fluid-text(12, 16);
    }
    &__link {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 6px;
        font-weight: 400;
        border-radius: 100px;
        padding: 8px 24px;
        background-color: var( --color-primary-hover);
        white-space: nowrap;
        transition: All 0.3s;
        svg path {
            transition: All 0.3s;
        }
        @include hover {
            background-color: var( --color-primary);
            transition: All 0.3s;
            color: var(--color-white);
            svg path {
                transition: All 0.3s;
                fill: var(--color-white);
            }
        }
        @include mobile {
            background-color: inherit;
            padding: 0px;
            span {
                display: none;
            }
        }
    }
    &__block {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
    }
    &__buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 16px;
        position: absolute;
        top: 22px;
        right: 10px;
        @include table {
            position: static;
            flex-wrap: wrap;
        }
    }
}
/*----------------------------------header--------------------------------*/