/*----------------------------------menu--------------------------------*/
@use 'mixins' as *;
.menu {
    flex-basis: 1050px;
    &>ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 10px;
        li {
            line-height: 138%;
            position: relative;
            @include fluid-text(14, 16);
        }
    }
    &__link {
        transition: All 0.3s ease 0s;
        @include hover {
            color: var(--color-primary);
        }
    }
    &__list {
        background-color: var(--color-white);
        box-shadow: 0 0 16px 0 rgba(17, 31, 57, 0.1);
        border-radius: 24px;
        padding: 16px;
        width: 200px;
        &_wrapper {
            position: absolute;
            display: none;
            @include table {
                &.open {
                    display: block;
                    position: static;
                }
            }
        }
        @include table {
            position: static;
            width: 100%;
            padding: 10px;
            border-radius: 16px;
            margin-top: 10px;
        }
        li {
            font-weight: 600;
            line-height: 133%;
            display: flex;
            align-items: center;
            gap: 12px;
            width: 100%;
            cursor: pointer;
            position: relative;
            &:not(:last-child) {
                margin-bottom: 10px;
            }
        }
    }
    &__button {
        cursor: pointer;
        padding-right: 20px;
        transition: All 0.3s ease 0s;
        position: relative;
        &::after,
        &::before {
            position: absolute;
            content: '';
            width: 8px;
            height: 1px;
            top: 10px;
            right: 0;
            background-color: var(--color-black);
            transition: transform 0.2s ease-out;
            border-radius: 5px;
        }
        &::after {
            transform: rotate(45deg);
            right: 5px;
        }
        &::before {
            transform: rotate(-45deg);
        }
        @include hover {
            color: var(--color-primary);
            &::after {
                transform: rotate(-45deg);
                background-color: var(--color-primary);
            }
            &::before {
                transform: rotate(45deg);
                background-color: var(--color-primary);
            }
            li {
                color: var(--color-black);
            }
            .menu__list_wrapper {
                display: block;
                left: -20px;
            }
        }
        @include table {
            padding-right: 30px;
            &.open {
                &::after {
                    transform: rotate(-45deg);
                    background-color: var(--color-primary);
                }
                &::before {
                    transform: rotate(45deg);
                    background-color: var(--color-primary);
                }
            }
        }
    }
    @include table {
        position: fixed;
        left: 0;
        top: -100%;
        width: 100%;
        height: 100%;
        background: var(--color-white);
        padding: 70px 25px; 
        transition: All 0.5s ease 0s;
        overflow: auto;
        z-index: 9;
        &._active{
            top: 0;
        }
        &__list-item:not(:last-child){
            margin-bottom: 32px;
        }
        &>ul {
            display: block;
            position: relative;
            margin-bottom: 20px;
        }
        ul li {
            &:not(:last-child) {
                margin-bottom: 10px;
            }
        }
    }
}

/*----------------------------------menu--------------------------------*/