/*----------------------------------procedure--------------------------------*/
@use 'mixins' as *;
.procedure {
    &__body {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        gap: 16px 20px;
        margin-bottom: 60px;
        @include mobile {
            flex-wrap: wrap;
            justify-content: center;
            margin-bottom: 30px;
        }
    }
    &__photo {
        flex-basis: 450px;
        img {
            border-radius: var(--border-radius-small);
            width: 100%;
            height: 100%;
            @include mobile {
                border-radius: 24px;
            }
        }
        @include mobile {
            flex-basis: 100%;
        }
    }
    &__info {
        flex-basis: 900px;
    }
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        gap: 20px;
        @include table {
            flex-wrap: wrap;
        }
        &:not(:last-child) {
            margin-bottom: 20px;
        }
        &:last-child {
            flex-wrap: wrap;
        }
        .button {
            flex-wrap: wrap;
            color: var(--color-black-text);
            white-space: wrap;
            text-align: start;
            flex-basis: 240px;
            @include table {
                flex-basis: 100%;
            }
        }
    }
    &__block {
        border-radius: var(--border-radius-small);
        padding: 30px;
        span {
            font-size: 24px;
            line-height: 133%;
            color: var(--color-primary);
            margin-top: 5px;
            display: block;
        }
        &:first-child {
            p {
                font-family: var(--font-family-m);
                line-height: 141%;
            }
        }
        &--bg {
            background-color: var(--color-bg);
        }
        &--mod {
            border: 1px solid var(--color-primary);
            text-align: center;
            .button {
                color: var(--color-white);
                margin-bottom: 5px;
            }
            p {
                font-size: 12px;
                line-height: 138%;
                &:last-child {
                    color: var(--color-primary)
                }
            }
            span {
                @include fluid-text(30, 40);
                line-height: 120%;
                color: var(--color-secondary);
                margin-bottom: 16px;
            }
            @include table {
                flex-basis: 100%;
            }
        }
        @include table {
            flex-basis: 100%;
            text-align: center;
        }
    }
}
/*----------------------------------procedure--------------------------------*/