/*----------------------------------promotions-------------------------------*/
@use 'mixins' as *;
.promotions {
    margin-top: 100px;
    padding-bottom: 0px;
    @include table {
        margin-top: 50px;
    }
    &__blocks {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 24px;
        margin-bottom: 24px;
        @include mobile {
            grid-template-columns: 1fr;
        }
    }
    &__block {
        overflow: hidden;
        position: relative;
        border-radius: var(--border-radius-small);
        img {
            width: 100%;
        }
        .arrow__pulse {
            border: 3px solid var(--color-white);
            top: 45%;
            right: 25px;
            &::after {
                border: 1px solid var(--color-white);
                @include mobile {
                  opacity: 1;
               }
             }
        }
        &_1 {
            border-radius: var(--border-radius);
            grid-column: 1 / 3;
            @include desktop {
                border-radius: var(--border-radius-small);
            }
            @include mobile {
                grid-column: 1 / 2;
            }
        }
        &_2 {
            border-top-right-radius: 170px;
            border-bottom-right-radius: 20px;
            .arrow__pulse {
                right: 25px;
            }
            @include desktop {
                .arrow__pulse {
                    right: 87%;
                }
            }
            @include mobile {
                border-top-right-radius: var(--border-radius-small);
                .arrow__pulse {
                    right: 25px;
                }
            }
        }
        &_3 {
            border-bottom-right-radius: 170px;
            border-top-right-radius: 20px;
            .arrow__pulse {
                right: 25px;
            }
            @include mobile {
                border-bottom-right-radius: var(--border-radius-small);
            }
        }
        @include mobile {
            display: block;
            min-height: 343px;
            .arrow__pulse {
                top: 30px;
            }
        }
        @include hover {
            .arrow__pulse {
                opacity: 1;
            }
            .arrow__pulse::after {
                animation: pulse 2s ease-in-out infinite;
            }
        }
    }
}
/*----------------------------------promotions--------------------------------*/