/*----------------------------------reviews--------------------------------*/
@use 'mixins' as *;
.reviews {
    &__content {
        position: relative;
    }
    &__bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        flex-wrap: wrap;
    }
    &__buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 16px;
        @include mobile {
            width: 100%;
            .button {
                padding: 11px 16px;
            }
        }
    }
}
.review {
    border-radius: var(--border-radius-small);
    background-color: var(--color-white);
    padding: 32px;
    &:not(:last-child) {
       margin-bottom: 16px;
    }
    header {
       display: flex;
       align-items: center;
       gap: 16px;
       margin-bottom: 10px;
       time {
           color: var(--color-primary);
           font-size: 13px;
       }
    }
    blockquote {
       p {
        font-family: var(--font-family-m);
        line-height: 141%;
       }
    }
    @include mobile {
        padding: 16px;
        border-radius: 32px;
    }
}
.pagination {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
    &__number,
    &__arrow {
        border-radius: 50%;
        border: 1px solid inherit;
        width: 44px;
        height: 44px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    &__active {
        border: 1px solid var(--color-black-text);
    }
    @include mobile {
        display: none;
    }
}
/*----------------------------------reviews--------------------------------*/


