/*----------------------------------search--------------------------------*/
@use 'mixins' as *;
.search {
    position: relative;
    &__label_input {
        background-color: inherit;
        &::placeholder {
            color: var(--color-black);
        }
    }
    &__label {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        font-size: 16px;
    }
    @include table {
        display: none;
    }
}
   
/*----------------------------------search--------------------------------*/