/*----------------------------------select--------------------------------*/
@use 'mixins' as *;
.dropdown {
    position: relative;
    max-width: 330px;
    &__button {
        position: relative;
        display: block;
        text-align: left;
        border-radius: 10px;
        padding: 20px;
        background-color: inherit;
        border: 1px solid var(--color-gray);
        width: 100%;
        @include fluid-text(14, 16);
        &::after,
        &::before {
            content: '';
            position: absolute;
            top: 45%;
            right: 20px;
            transform: translateY(-50%);
            width: 2px;
            height: 8px;
            border-radius: 2px;
            background-color: var(--color-black);
            pointer-events: none;
            transform: rotate(45deg);
        }
          &::before {
            right: 25px;
            transform: rotate(-45deg);
        }
    }
    &__list {
        display: none;
        position: absolute;
        overflow: hidden;
        width: 100%;
        left: 0;
        top: 65px;
        z-index: 1;
        background: #F0F5F6;
        padding: 16px;
        border-radius: 10px;
        &--active {
            display: block;
        }
        &_item {
            border-bottom: 0;
            cursor: pointer;
            @include fluid-text(14, 16);
            &:not(:last-child) {
                margin-bottom: 10px;
            }
        }
      }
    &__input_hidden {
        display: none;
    }
}
/*----------------------------------select--------------------------------*/