/*---------------------------------------sliders----------------------------*/
@use 'mixins' as *;
.slider {
  overflow: hidden;
  .swiper-wrapper {
    display: flex;
    align-items: stretch;
  }
  .swiper-slide {
    height: auto;
  }
}
.swiper-button-next::after,
.swiper-button-prev::after {
   display: none;
}

/*---------------------------------------sliders----------------------------*/