@use 'normalize';
@use 'fonts';
@use 'variables';
@use 'globals';
@use 'header';
@use 'search';
@use 'menu';
@use 'burger';
@use 'promotions';
@use 'breadcrumbs';
@use 'about';
@use 'mission';
@use 'filtermenu';
@use 'experts';
@use 'accordion';
@use 'awards';
@use 'doctors';
@use 'card';
@use 'sliders';
@use 'equipment';
@use 'callback';
@use 'rating';
@use 'social';
@use 'news';
@use 'contacts';
@use 'doctor';
@use 'calendar';
@use 'select';
@use 'reviews';
@use 'tabs';
@use 'filter';
@use 'choose';
@use 'diagnostics';
@use 'check-ups';
@use 'procedure';
@use 'advantages';
@use 'prices';
@use 'footer';

