/*---------------------------------------tabs----------------------------*/
@use 'mixins' as *;
.tabs {
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
  }
  .tab-labels {
    display: flex;
    justify-content: space-between;
    margin-bottom: 48px;
    gap: 16px;
    @include mobile {
      flex-wrap: wrap;
    }
    &__inner {
      display: flex;
      align-items: center;
      gap: 15px 30px;
    }
    &__yandex {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 5px;
      background-color: var(--color-white);
      border-radius: var(--border-radius-small);
      padding: 8px 24px 8px 8px;
      &_info {
        p {
          margin-bottom: 10px;
        }
        @include mobile {
          p {
            margin-bottom: 0px;
            margin-right: 5px;
          }
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
      }
      @include mobile {
        &>img {
          width: 24px;
        }
      }
    }
  }
  .tab-label {
    cursor: pointer;
    color: #D6D6D6;
    font-weight: 700;
    @include fluid-text(24, 40);
    line-height: 120%;
  }
  .tab-content {
    display: none;
  }
  .tab-content .easy__info {
    flex-basis: 1280px;
  }
  .tab-content .easy__image {
    flex-basis: 600px;
  }
  #tab-1:checked ~ .content-1,
  #tab-2:checked ~ .content-2 {
    display: block;
  }
  #tab-1:checked ~ .tab-labels label[for="tab-1"],
  #tab-2:checked ~ .tab-labels label[for="tab-2"] {
    color: var(--color-black-text);
  }
  input[type="radio"] {
    display: none;
  }
/*---------------------------------------tabs----------------------------*/