/*----------------------------------Переменные--------------------------------*/
:root {
    --color-black: #313131;
    --color-gray: #585858;
    --color-white: #FFFFFF;
    --color-primary: #2291FF;
    --color-primary-hover: #E2F5F6;
    --color-secondary: #47ADF7;
    --border-radius: 60px;
    --border-radius-small: 20px;
    --font-family-base: 'Montserrat', Arial, sans-serif;
    --font-family-m: 'Unbounded', Arial, sans-serif;
    --container-width: 1440px;
}
/*----------------------------------Переменные--------------------------------*/